{% extends 'base.html.twig' %}

{% block title %}Article du site AlgoSchool - Actualités sur les méthodes d'apprentissage de l'algorithmie{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/.css')}}">
{% endblock %}         

{% block body %}
<meta name="description" content="Article du site AlgoSchool - Retrouvez les dernières actualités du l'aventure AlgoSchool. 
Nouveauté, action, apprentissage n'auront plus de secret grâce au nouvelles proposées par AlgoSchool.
Effectuer votre veille d'enseignement grâce à AlgoSchool." />
     <!-- Page Content -->
    <div class="container">
        <div class="row">
        <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="page_heading">
                    Découvre notre BLOG - <small> Algoschool</small>
                </h1>

                <section class="articles">
                    {% for article in articles %}
                            <!-- Blog Post -->
                        <article>
                            <div class="card mb-4" >
                                <img class="card-img-top" src="{{ article.image }}" width="750" height="300" alt="Card image cap">
                                    <div class="card-body">
                                        <h2 class="card-title">{{ article.title }}</h2>

                                        {% set some_html = article.content %}       

                                        <p class="card-text">{{ some_html[:200]|striptags ~ ' ...' }}</p>
                                        <a href="{{ path('blog_show', {'id' : article.id }) }}" class="btn btn-primary">Lire la suite</a>
                                    </div>
                                <div class="card-footer text-muted">
                                    Ecrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}} dans la catégorie {{ article.category.title }}
                                </div>
                            </div>
                        </article> 
                        <hr>
                    {% endfor %}
                </section>
          <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Précèdent</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Suivant &rarr;</a>
                    </li>
                </ul>
            </div>

        <!-- Sidebar Widgets Column -->
            <div class="col-md-4" style="margin-top: 90px;">
          <!-- Search Widget -->
                <div class="card my-4" >
                    <h5 class="card-header">Recherche dans le blog</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Rechercher un post...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Rechercher</button>
                            </span>
                        </div>
                    </div>
                </div>

          <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Choisir une categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Nouveauté</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Algoschool</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Language</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutoriel</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        
                <section class="articles">
                    <article>
                        <div class="card my-4">
                            <h5 class="card-header">Articles populaires :</h5>
                            {# {% for article in articles %} #}
                    <!-- Side dernier article Widget -->
                                <div class="card" style="width: 100%;">
                                    <img class="card-img-top img-responsive" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/42744693_1817233988323884_2438061966808317952_o.png?_nc_cat=109&oh=4ff658acff9b3210d0f97a2571fbbe86&oe=5C5BFAF5" style ="height: 130px;" alt="titre de l'article">
                                    <div class="card-body">
                                        <h5 class="card-title">Futur champion d'AlgoSchool, prends ton envol et joins-toi à l'aventure !</h5>
                                        <p class="card-text">Tu as toujours rêvé d'explorer le monde ? Voyage et surmonte tous les obstacles grâce à l'aide de Robert Louis ! 🌍 <br>
<br>
Tu viens de trouver la première page du journal de bord du célèbre explorateur Robert Louis ? Bravo, rendez-vous demain à 18 heures pour découvrir la suivante ! 📜 <br>
<br>
Futur champion d'AlgoSchool, prends ton envol et joins-toi à l'aventure !</p>
                                        <a href="" class="btn btn-primary">Lire la suite</a>
                                    </div>
                                </div>
                            {# {% endfor %} #}
                        </div>
                        <br>
                    </article>
                </section>
            </div> <!-- end title -->   
      <!-- /.row -->
        </div>
    <!-- /.container -->
    </div>
    </div>
{% endblock %}