{% extends 'base.html.twig' %}

{% block title %}Ajout d'une catégorie{% endblock %}

{% block body %}
    <h1>Ajout d'une catégorie</h1>
    {# {{ form_start(formCategory) }}  
        {{ form_row(formCategory.title, {'attr': {'placeholder': "Titre de la catégorie"}}) }}
        {{ form_row(formCategory.content, {'attr': {'placeholder': "Contenu de la catégorie"}}) }}
    {{ form_end(formCategory)}} #}
{% endblock %}
