{% extends 'admin.html.twig' %}

{% block title %}Administration de AlgoSchool{% endblock %}

{% block fullwidth %}


    <!-- Left Panel -->
    {% include "admin/parts/menuAdmin.html.twig" %}  


    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        {% include "admin/parts/header.html.twig" %}  

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Administration des articles</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active"><a href="{{ path('blogAdmin') }}" class="btn btn-primary" name="edit">Gérer mes article</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            {% if roleUser not in [ 0, 1, 2]  %}
        {% if editMode %}
            <h1>Modification de l'article "{{ article.title }}</h1>
        {% else %}
            <h1>Création d'un article !</h1>
        {% endif %}
        {{ form_start(formArticle) }}  
            {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
            {{ form_row(formArticle.category) }}
            {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
            {{ form_row(formArticle.image, {'attr': {'placeholder': "URL de l'image"}}) }}

            <button type="submt" class="btn btn-success">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter l'article
            {% endif %}
            </button>
        {{ form_end(formArticle)}}

        {% if editMode %}
            <section id="commentaires">
                {% for commentBlog in article.commentBlogs %}
                <hr>
                <div class="commentBlog">
                    <div class="row">
                        <div class="col-3">
                            {{ commentBlog.author }}(<small> {{ commentBlog.cretedAt | date('d/m/Y à H:i') }} </small>)
                            <br>
                            <form action="#" method="POST" name="formedit">
                                <input type="hidden" name="com_id" value="{{commentBlog.id}}">
                                <button type="submt" class="btn btn-success" name="edit">Edit</button>
                                <button type="submt" class="btn btn-danger" name="delete">Delete</button>
                            </form>
                        </div>
                        <div class="col">
                            {{ commentBlog.content | raw }} 
                        </div>
                    </div>
                </div>
                {% endfor %}
                    </section>
                {% endif %}
                {% else %}
                    {% if app.user %}
                        <h1>Votre compte ne vous permet pas de créer un article</h1>
                        
                        // Inserer une image de retour à l'accueil
                    {% else %}
                        <h1>Vous n'êtes pas connecté</h1>
                        {% include "parts/login.html.twig" %}
                    {% endif  %}
                {% endif  %}
        </div>


    </div><!-- /#right-panel -->
{% endblock %}






{# {% extends 'base.html.twig' %}

{% block body %}
    {% if roleUser not in [ 0, 1, 2]  %}
        {% if editMode %}
            <h1>Modification de l'article "{{ article.title }}</h1>
        {% else %}
            <h1>Création d'un article !</h1>
        {% endif %}
        {{ form_start(formArticle) }}  
            {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
            {{ form_row(formArticle.category) }}
            {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
            {{ form_row(formArticle.image, {'attr': {'placeholder': "URL de l'image"}}) }}

            <button type="submt" class="btn btn-success">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter l'article
            {% endif %}
            </button>
        {{ form_end(formArticle)}}

        {% if editMode %}
            <section id="commentaires">
                {% for commentBlog in article.commentBlogs %}
                <hr>
                <div class="commentBlog">
                    <div class="row">
                        <div class="col-3">
                            {{ commentBlog.author }}(<small> {{ commentBlog.cretedAt | date('d/m/Y à H:i') }} </small>)
                            <br>
                            <form action="#" method="POST" name="formedit">
                                <input type="hidden" name="com_id" value="{{commentBlog.id}}">
                                <button type="submt" class="btn btn-success" name="edit">Edit</button>
                                <button type="submt" class="btn btn-danger" name="delete">Delete</button>
                            </form>
                        </div>
                        <div class="col">
                            {{ commentBlog.content | raw }} 
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
        {% endif %}
    {% else %}
        {% if app.user %}
            <h1>Votre compte ne vous permet pas de créer un article</h1>
            
            // Inserer une image de retour à l'accueil
        {% else %}
            <h1>Vous n'êtes pas connecté</h1>
            {% include "parts/login.html.twig" %}
        {% endif  %}
    {% endif  %}
{% endblock %} #}