{% extends 'base.html.twig' %}

{% block title %} AlgoSchool - {{ article.title | raw |truncate(200, true) }} {% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/showBlog.css')}}">
{% endblock %}         

{% block fullwidth %}
<meta name="description" content="{{ article.content}}" />
<div class="bg_light_blue">
    <div class="container">
        <div class="row">
        <!-- Post Content Column -->
            <div class="col-lg-8">
                <article>
                        <!-- Title -->
                    <h1 class="mt-4">{{article.title }}</h1>
                    <!-- Author -->
                    <p class="lead">
                        Posté par 
                        <a href="#">Algoschool</a>
                    </p>
                    <hr>
                    <!-- Date/Time -->
                    <p>Ecrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}} dans la catégorie {{article.category.title}}</p>
                    <hr>
                    <!-- Preview Image -->
                    <img class="img-fluid rounded" src="{{ article.image }}" alt ="">
                    <br>
                    <p>{{ article.content | raw }}</p>
                    <br>
                    {% if roleUser not in [0, 1, 2] %}
                        <form action="#" method="POST" name="formedit">
                            <input type="hidden" name="blog_id" value="{{article.id}}">
                            <a href="{{ path('blog_edit', {'id' : article.id }) }}" class="btn btn-primary" name="editArticle">Edit</a>
                            <button type="submt" class="btn btn-danger" name="deleteArticle">Delete</button>
                        </form>         
                    {% endif %}
                </article>
            </div>

        <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
          <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Recherche</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Rechercher un post...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Rechercher</button>
                            </span>
                        </div>
                    </div>
                </div>

          <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Nouveauté</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Algoschool</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Language</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutoriel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
           </div>
        
            <section class="articles">
                <article>
                    <div class="card my-4">
                        <h5 class="card-header">Articles populaires :</h5>
                <!-- Side dernier article Widget -->
                        <div class="card" style="width: 100%;">
                            <img class="card-img-top img-responsive" src="{{ article.image }}" style ="height: 130px;" alt="titre de l'article">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.title }}</h5>
                                <p class="card-text">{{ article.content | raw |truncate(100, true)}}</p>
                                <a href="{{ path('blog_show', {'id' : article.id }) }}" class="btn btn-primary">Lire la suite</a>
                            </div>
                        </div>
                        <br>
                    </div>
                </article>
            </section>
        </div> <!-- end title -->
        
        <section id="commentaires">
            <h2>{{ article.commentBlogs | length }} Commentaires :</h2>
            {% for commentBlog in article.commentBlogs %}
                <hr>
                <div class="commentBlog">
                    <div class="row">
                        <div class="col-3">
                            {{ commentBlog.author }} (<small> {{ commentBlog.cretedAt | date('d/m/Y à H:i') }} </small>)
                            {% if commentBlog.author == 'AlgoSchool' %}
                                <img class="d-flex mr-3 rounded-circle" src="{{ asset('build/images/algoProf.png') }}" style="width: 100px;" alt="">
                            {% else %}
                                <img class="d-flex mr-3 rounded-circle" src="{{ asset('build/images/avatar.png') }}" style="width: 100px;" alt="">
                            {% endif %}
                            {% if roleUser not in [ 0, 1, 2] %}
                                <form action="#" method="POST" name="formedit">
                                    <input type="hidden" name="com_id" value="{{commentBlog.id}}">
                                    <button type="submt" class="btn btn-success" name="edit">Edit</button>
                                    <button type="submt" class="btn btn-danger" name="delete">Delete</button>
                                </form>
                            {% else  %}
                                {% if user == commentBlog.author %}
                                    <form action="#" method="POST" name="formedit">
                                        <input type="hidden" name="com_id" value="{{commentBlog.id}}">
                                        <button type="submt" class="btn btn-success" name="edit">Edit</button>
                                        <button type="submt" class="btn btn-danger" name="delete">Delete</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col">
                            {{ commentBlog.content | raw }} 
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    
        {% if app.user %}
            <section id="formCommentaire" class="col-md-12">
                <hr>
                <div class="card my-4">
                    <h5 class="card-header">Ajouter un commentaire :</h5>
                        <div class="">
                            {{ form_start(formBlog) }}  
                                {{ form_row(formBlog.content, {'label': ' ', 'attr': {'placeholder': "Contenu du commentaire"}}) }}
                                <button type="submt" class="btn btn-primary">
                                    Ajouter le commentaire
                                </button>
                            {{ form_end(formBlog)}}
                        </div>
                </div>
                <br>
            </section>
        {% else %}
            <div class="col-md-12">
                <div class="card my-4">
                    <h5 class="card-header">Connectez-vous pour poster un commentaire</h5>
                    <div class="card-body">
                            {% include "parts/login.html.twig" %}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
{% endblock %}