{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block body %}
    {% include "parts/login.html.twig" %}
    <br>
    <br>
    <br>
    <br>
{% endblock %}
{# {% block footer %} {% include "footer.html.twig" %} {% endblock %} #}