{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}

<section class="section-padding-bottom-min">
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178"  action="#" method="post">
					<span class="login100-form-title">
						CRÉATION DE COMPTE
					</span>
                                      
					<div class="wrap-input100 validate-input m-b-16" data-validate="Choisir un nom de compte">
						<input class="input100" type="text" class="form-control" name="_username"  placeholder="Nom d'utilisateur ou nom de compte" required="" />
						<span class="focus-input100"></span>
					</div>

                	<div class="wrap-input100 validate-input m-b-16" data-validate="Ajouter une adresse email">
						<input class="input100" type="email" class="form-control" name="_email"  placeholder="Votre adresse email" required="" />
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Choisir un mot de passe">
						<input class="input100" type="password" class="form-control" name="password"  placeholder="Mot de passe" required="" />
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Veuillez confirmer votre mot de passe">
						<input class="input100" type="password" class="form-control" name="samePwd"  placeholder="Confirmer votre mot de passe" required="" />
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							S'ENREGISTRER
						</button>
					</div>

					<div class="flex-col-c p-t-50 p-b-40">
						<span class="txt1 p-b-9">
							Deja enregistré ?
						</span>

						<a href="{{ path('security_login') }}" class="txt3">
							Se connecter
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	</section>
    {# {{ form_start(formInscription) }}  
        {{ form_row(formInscription.role, {'label': 'Type de compte*', 'attr': {'placeholder': "Type de compte"}})}}
        {{ form_row(formInscription.username, {'label': 'Nom d\'utilisateur*', 'attr': {'placeholder': "Nom d'utilisateur"}}) }}
        {{ form_row(formInscription.email, {'label': 'Adresse email*', 'attr': {'placeholder': "Adresse email"}}) }}
        {{ form_row(formInscription.password, {'label': 'Mot de passe*', 'attr': {'placeholder': "Mot de passe"}}) }}
        {{ form_row(formInscription.confirm_password, {'label': 'Confirmation mot de passe*', 'attr': {'placeholder': "Confirmation mot de passe"}}) }}
        <button type="submt" class="btn btn-success">Inscription</button>
    {{ form_end(formInscription)}} #}
{% endblock %}
