<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <title>{% block title %}Algoschool{% endblock %}</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126717880-1"></script>
        <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-126717880-1');</script>


        <link rel="icon" type="image/gif" href="{{ asset('build/images/logo-algoschool.png') }}" />
        <link rel="stylesheet" href="{{ asset('build/mainCss.css')}}"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {# ----------FONT-------------- #}
        
        <link rel="stylesheet" type="application/vnd.ms-fontobject" href="{{ asset('build/fonts/fontawesome-webfont.eot?v=4.7.0')}}">
        <link rel="stylesheet" type="image/svg+xml" href="{{ asset('build/images/fontawesome-webfont.svg?v=4.7.0')}}">  
        <link rel="stylesheet" type="font/ttf" href="{{ asset('build/fonts/fontawesome-webfont.ttf?v=4.7.0')}}">  
        <link rel="stylesheet" type="font/woff2" href="{{ asset('build/fonts/fontawesome-webfont.woff2?v=4.7.0')}}">  
        <link rel="stylesheet" type="font/woff" href="{{ asset('build/fonts/fontawesome-webfont.woff?v=4.7.0')}}">  
        <link rel="stylesheet" type="application/vnd.ms-fontobject" href="{{ asset('build/fonts/themify.eot?-fvbane')}}">  
        <link rel="stylesheet" type="image/svg+xml" href="{{ asset('build/images/themify.svg?-fvbane')}}">  
        <link rel="stylesheet" type="font/ttf" href="{{ asset('build/fonts/themify.ttf?-fvbane')}}">  
        <link rel="stylesheet" type="font/woff" href="{{ asset('build/fonts/themify.woff?-fvbane')}}">  
        <link rel="stylesheet" type="application/vnd.ms-fontobject" href="{{ asset('build/fonts/icomoon.eot?-rdnm34')}}">  
        <link rel="stylesheet" type="image/svg+xml" href="{{ asset('build/images/icomoon.svg?-rdnm34')}}">  
        <link rel="stylesheet" type="font/ttf" href="{{ asset('build/fonts/icomoon.ttf?-rdnm34')}}">  
        <link rel="stylesheet" type="font/woff" href="{{ asset('build/fonts/icomoon.woff?-rdnm34')}}">  
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>  

        {# ---------- FIN DE FONT --------------  #}

     
        <link rel="stylesheet" href="{{ asset('build/header.css')}}">  
        <link rel="stylesheet" href="{{ asset('build/colors.css')}}"> 
        <link rel="stylesheet" href="{{ asset('build/blog.css')}}">
        <script src="{{ asset('build/main.js')}}"></script>


        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>

        {# partie à supprimer si il y a des problèmes et enlever les commentaires de block header #}
        {% include "parts/header.html.twig" %}

        {% block block_header %}
            {# {% include "parts/header.html.twig" %} #}
        {% endblock %}

        {% block sidebar %}
        {% endblock %}

        <div class="bg_light_blue">
            {% block fullwidth %}


            {% endblock %}
         
        
        <div class="container">
            {% block body %}            
            <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '838548a5-8dab-4451-a8f8-d713579764e8', f: true }); done = true; } }; })();</script>
{% endblock %}
        </div>
        </div>
        {# POUR NEKA #}
        {# <body id="top" onselectstart="return false" oncontextmenu="return false" ondragstart="return false" onMouseOver="window.status='Il est strictement interdit de copier les images sur ce site'; return true;">
         #}
        <button onclick="topFunction()" id="myBtn" title="Go to top">
<i class="fa fa-arrow-up"></i>
</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

    </body>

    <footer>
        {% block block_footer %}
            {% include "parts/footer.html.twig" %}
        {% endblock %}
        
        {% block javascripts %}
           {# <script src="{{ asset('build/mainJS.js') }}"></script> #}
        {% endblock %}
    </footer>
</html>
