{% extends 'base.html.twig' %}


{% block title %} AlgoSchool - Contactez-nous {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/homepage.css')}}"> 
        <link rel="stylesheet" href="{{ asset('build/contact.css')}}"> 
    {% endblock %}

            {% block fullwidth %}
            <div class="bg_blue">
           
<section class="section-padding-contact" id="features_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="section-padding1">
                        <h5 class="title wow fadeInUp" data-wow-delay="0.2s" style="color:white;">CONTACTEZ-NOUS</h5>
                        <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Par mail ou par courrier</h3>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="">
						<input class="input100" type="text" id="fname" name="name" placeholder="Nom et prénom">
						<span class="focus-input100"></span>
					</div>
                         <form action="#" method="post">

                         <div class="wrap-input100 validate-input m-b-16" data-validate="">
						<input class="input100" type="email" id="fname" name="email" placeholder="Votre adresse e-mail">
						<span class="focus-input100"></span>
					</div>
                         <form action="#" method="post">

                         <div class="wrap-input100 validate-input m-b-16" data-validate="">
						<input class="input100" type="text" id="lname" name="object" placeholder="Objet de votre demande">
						<span class="focus-input100"></span>
					</div>
                         <form action="#" method="post">

                         <div class="wrap-input100 validate-input m-b-16" data-validate="">
						<textarea class="input100" id="subject" name="subject" placeholder="Que pouvons-nous faire pour vous ?" style="height:200px"></textarea>
						<span class="focus-input100"></span>
					</div>
                    

            <div class="col-lg-12 text-center">
                <input class="bttn-white wow fadeInUp btn-defaut" style="margin-bottom:40px;" type="submit"  value="ENVOYER">
            </div>
        </form>
    </div>
    </div>
   
                <div class="col-xs-12 col-md-6">
                <img class="montgolfiere" src="{{ asset('build/images/montgolfiere.png') }}" alt="">
                <h5 class="title" data-wow-delay="0.2s" style="color:white;text-align:center;margin-bottom: 35px;margin-top: 160px;">nos coordonnées</h5>
                    <h3 class="wow fadeInUp soustitle align_droite" style="color:#186e7b;;text-align:center;" data-wow-delay="0.4s">ADRESSE :</h3>

                        <div class="desc wow fadeInUp align_center contact"  data-wow-delay="0.6s">
                            <p class="align_center contact">170, Rue Lycette DarsonvaL</p>
                            <p class="align_center contact">50 009 Saint-Lô</p></div>
                            <h3 class="wow fadeInUp soustitle" style="color:#186e7b;;text-align:center;" data-wow-delay="0.4s">Téléphone :</h3>
                            <p class="align_center contact">06 95 06 04 76</p>
                            <p class="align_center contact">06 58 37 91 27</p></div>
                </div>
                </div>
            </div>
        </div>
    </section>
        
    {# <div class="container">
        <form action="#" method="post">
            <label for="fname">Votre nom et prénom</label>
            <input type="text" id="fname" name="name" placeholder="Nom et prénom">

            <label for="fname">Votre adresse e-mail</label>
            <input type="email" id="fname" name="email" placeholder="E-mail">

            <label for="lname">Object de la requête</label>
            <input type="text" id="lname" name="object" placeholder="Object"> #}

{#           <label for="country">Country</label>
            <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            </select> #}

            {# <label for="subject">Sujet</label>
            <textarea id="subject" name="subject" placeholder="Que pouvons-nous faire pour vous ?" style="height:200px"></textarea>

            <div class="col-lg-12 text-center">
                <input type="submit"  value="Contactez-nous">
            </div>
        </form>
    </div> #}
    </div>
{% endblock %}
