{% extends 'base.html.twig' %}


{% block title %} Algoschool - C'est quoi ? Découvez l'équipe derrière Algoschool !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/homepage.css')}}"> 
    <link rel="stylesheet" href="{{ asset('build/contact.css')}}"> 
{% endblock %}


{% block fullwidth %}
<meta name="description" content="Vous êtes enseignant et vous souhaitez personnaliser des niveaux ?
 AlgoSchool a pensé a vous et a mis en place un système de création de niveaux afin de proposer à vos élèves un jeu plus adapté à vos cours." />
<div class="bg_blue">
   <section class="feature-area-discover section-padding-com" id="features_page" id="ideaAlgo">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-md-6">
               <div class=" section-padding1">
                  <h5 class="title wow fadeInUp" style="color:white;" data-wow-delay="0.2s" >Algoschool, 
                     <span class="titleblue"> C'est quoi ?<span>
                  </h5>
                  <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">L'idée d'Algoschool ?</h3>
                  <p>L’idée nous est venu grâce à notre formation, beaucoup d’étudiant viennent de différent univers,
                     certain sont spécialisé dans le marketing et ne sont pas à l’aise avec le développement.
                     Cependant  la  formation  Chef  de  projet  nécessite des  bases  en  développement web,   
                     la maitrise  de  l’algorithme s’impose  donc  comme une   compétence importante pour la réussite de notre cursus.
                  </p>
                  <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">C’est quoi un algorithme ? Quel rapport avec la logique ? </h3>
                  <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                     <p>Un algorithme, c’est une suite d’instructions, qui une fois exécutée correctement, 
                        conduit à un résultat donné. Avez-vous   déjà   indiqué   un   chemin   à   un touriste  égaré  ? 
                        Si  oui,  vous  avez  déjà fabriqué et  fait exécuter des algorithmes.
                        Si l’algorithme est juste, le résultat est le résultat voulu, et le touriste se retrouve là où il voulait aller. 
                        Si l’algorithme est faux, le résultat est, disons, aléatoire. Pour fonctionner,
                        un algorithme doit donc contenir uniquement des instructions compréhensibles par celui qui devra l’exécuter.
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-md-5">
               <figure class="mobile-image">
                  <img src="{{ asset('build/images/question.png') }}" style="
                     padding-bottom: 50px;
                     padding-top: 60px;
                     margin-top: 5em;
                     " alt="">
               </figure>
            </div>
         </div>
      </div>
</div>
</div>
</section>
<!-- Feature-Area-End -->
<section class="section-padding" id="logiqueAlgo">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-6">
            <div class="">
               <img src="{{ asset('build/images/algo.png') }}" style="margin-top:47px">
               {# <img class="gif_anime" src="{{ asset('build/images/perso.png') }}" alt=""> #}
               </a>
            </div>
         </div>
         <div class="col-xs-12 col-md-6">
            <div class="space-60 hidden visible-xs"></div>
            <div class="">
               <h5 class="title wow fadeInUp right" data-wow-delay="0.2s" >La logique
                  <br><span class="titleblue right"> algorithmique<span>
               </h5>
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Comment peut-on utiliser l’algorithme dans la vie ?
               </h3>
               <div class="space-20"></div>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Les algorithmes non numériques sont présents dans notre quotidien et celui des enfants. Par exemple, pour réaliser une recette de cuisine, il nous faut : Entrées : les ingrédients, sortis : outils utilisés, Rendement : les instructions, Résultat : le plat. 
                  </p>
               </div>
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Comment peut-on utiliser l’algorithme dans le développement ?
               </h3>
               <div class="space-20"></div>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>L’algorithme est beaucoup utilisé dans le développement puisqu’il permet à l’ordinateur de comprendre les données d’entrée et de sortie et à réaliser le rendement nécessaire pour obtenir un résultat. 
                     Dans la programmation, plutôt que des données rédigées, les données sont chiffrées en équations mathématiques. 
                  </p>
               </div>
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Quelle est l’importance d’étudier l’algorithme dès l’enfance ?
               </h3>
               <div class="space-20"></div>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>La compréhension de l’algorithmique et de la relation entre les opérations d’entrée, de sortie et de rendement est importante pour faciliter la réalisation de tâches, dès les plus simples comme “faire la vaisselle” aux plus complexes comme “développer”.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Feature-Area -->
<section class="feature-area section-padding-com"  id="enseignant"> 
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-6">
            <div class=" section-padding1">
               <h5 class="title wow fadeInUp" style="color:white;" data-wow-delay="0.2s" >CONÇU EN PENSANT 
                  <br><span class="titleblue"> AUX ENSEIGNANTS<span>
               </h5>
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">CRÉATION DE NIVEAU</h3>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Vous êtes enseignant et vous souhaitez personnaliser des niveaux ? 
                     AlgoSchool a pensé a vous et a mis en place un système de création de niveaux afin de proposer à vos élèves un jeu plus adapté à vos cours.
                  </p>
               </div>
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Tableau de bord</h3>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Un tableau de bord est disponible dans le back-office pour que les enseignants obtiennent directement les résultats, ainsi que les moyennes des étudiants.</p>
               </div>
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">RESSOURCES POUR LES ENSEIGNANTS</h3>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Un forum est disponible sur l’application comme sur le site afin de pouvoir echanger et poser vos questions concernant notre outil.</p>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-md-6">
            <figure class="mobile-image">
               <img src="{{ asset('build/images/graphique.gif') }}" alt="Tableau de bord des étudiants dans le back office" style="
                  padding-bottom: 50px; padding-top: 60px;margin-top:-1em;border-radius:5px;
                  ">
            </figure>
         </div>
      </div>
   </div>
   </div>
</section>
<!-- Feature-Area-End -->
<!-- Feature-Area-End -->
<section class="section-padding-perso" id="personnage">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-6">
            <div class="">
               <video autoplay
                  muted
                  src="{{ asset('build/images/personnages.mp4') }}"
                  alt="vidéo de la personnalisation du personnage algoschool" class="d-sm-none d-md-block"></video>
               </a>
            </div>
         </div>
         <div class="col-xs-12 col-md-6">
            <h5 class="title wow fadeInUp" style="color:#8fd0d6;text-align:right;margin-top: -45px;" data-wow-delay="0.2s" >Mais aussi pour  
               <br><span class="titleblue"> les enfants<span>
            </h5>
            <div class="space-60 hidden visible-xs"></div>
            <div class="padding-left">
               <h3 class="wow fadeInUp soustitle"  data-wow-delay="0.4s">PERSONNAGE PERSONNALISABLE
               </h3>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Explorez le monde du développement informatique avec votre personnage favori ! 
                  Vous avez plusieurs options de cheveux et vêtements pour le personnaliser comme vous le souhaitez. => 
                  vos enfants exploreront le monde d’AlgoSchool avec leurs personnages favoris ! 
                  ils pourront choisir plusieurs options (cheveux, vêtements) et le personnaliser comme ils le souhaiteront ! </div>
            </div>
         </div>
      </div>
   </div>
</section>
</div>
</div>
</div>
</div>
</div>
<section class="feature-area-team2 section-padding-equipe" id="features_page">
   <div class="container" id="team">
      <div class="row">
         <div class="col-xs-12 col-md-12">
            <div class=" section-padding1">
               <h5 class="title wow fadeInUp" style="color:white;" data-wow-delay="0.2s">Notre équipe  
               </h5>
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Découvre notre équipe</h3>
               <p>
                  Notre équipe projet est constitué  de 4  personnes venant d’horizons très divers, cependant  nous collaborons  ensemble afin  d’atteindre  un objectif  commun, 
                  mener à bien la réussite de ce projet.
               </p>
               <p> Nous   nous   sommes   tous   rencontré   dans   le   cadre   de   la   formation   WEB-MULTIMÉDIA  «Chef  de  Projet  en  Marketing 
                  Internet  et  Conception  de  site (Bachelor). Cette formation permet d’acquérir une double compétence en webmarketing et conception web.
               </p>
               <div class="col-md-12">
                  <div class="row pt-md">
                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="img-box">
                           <img id="my-img" src="{{ asset('build/images/fabien.png') }}" onmouseover=passageDeLaSourisFab(this); onmouseout=departDeLaSourisFab(this); />
                        </div>
                        <div class="profile">
                           <h3 class="soustitle-equipe">Fabien poret</h3>
                           <img src="{{ asset('build/images/developpeur.png') }}">
                           <div class="notfound-social">
                              <a href="https://www.facebook.com/fabien.poret.3"><i class="fa fa-facebook"></i></a>
                              <a href="mailto:fabien.poret@outlook.fr"><i class="fa fa-envelope"></i></a>
                              <a href="https://www.linkedin.com/in/fabien-poret-536b4b122/"><i class="fa fa-linkedin"></i></a>
                              <a href="https://www.ambitious-web.fr/"><i class="fa fa-globe"></i></a>
                           </div>
                           {# 
                           <p>J'aime les poneys</p>
                           #}
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="img-box">
                           <img id="my-img" src="{{ asset('build/images/neka.png') }}" onmouseover=passageDeLaSouris(this); onmouseout=departDeLaSouris(this); />
                           {# <img class="avatarneka" src="{{ asset('build/images/neka.png') }}"> #}
                        </div>
                        <div class="profile">
                           <h3 class="soustitle-equipe">Neka torreiro</h3>
                           <img src="{{ asset('build/images/graphiste.png') }}">
                           <div class="notfound-social">
                              <a href="@nekadesigner"><i class="fa fa-instagram"></i></a>
                              <a href="www.linkedin.com/in/nekatorreiro"><i class="fa fa-linkedin"></i></a>
                              <a href="mailto:neka@algoschool.fr"><i class="fa fa-envelope"></i></a>
                              <a href="www.nekatorreiro.fr"><i class="fa fa-globe"></i></a>
                           </div>
                           {# 
                           <p >J'adore les tetinas</p>
                           #}
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="img-box">
                           <img id="my-img" src="{{ asset('build/images/pj.png') }}" onmouseover=passageDeLaSourisPj(this); onmouseout=departDeLaSourisPj(this); />
                        </div>
                        <div class="profile">
                           <h3 class="soustitle-equipe">Pierre BAzin</h3>
                           <img src="{{ asset('build/images/webdesigner.png') }}">
                           <div class="notfound-social">
                              {# <a href="#"><i class="fa fa-facebook"></i></a> #}
                              <a href="https://www.linkedin.com/in/pierre-bazin-4a5460167/"><i class="fa fa-linkedin"></i></a>
                              <a href="mailto:pjbazin@gmail.com"><i class="fa fa-envelope"></i></a>
                              <a href="www.pjbazin.fr"><i class="fa fa-globe"></i></a>
                           </div>
                           {# 
                           <p>Le plus beau</p>
                           #}
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="img-box">
                           <img id="my-img" src="{{ asset('build/images/quentin.png') }}" onmouseover=passageDeLaSourisQuentin(this); onmouseout=departDeLaSourisQuentin(this); />
                        </div>
                        <div class="profile">
                           <h3 class="soustitle-equipe">Quentin Tardif</h3>
                           <img src="{{ asset('build/images/marketeur.png') }}">
                           <div class="notfound-social">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-pinterest"></i></a>
                              <a href="#"><i class="fa fa-google-plus"></i></a>
                           </div>
                           {# 
                           <p>Je m'apelle Quentin</p>
                           #}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<script>
   //Affecte la nouvelle image lorsque la souris survole l'élément
   function passageDeLaSourisFab(element) {
       element.setAttribute('src', "{{ asset('build/images/fabien-hover.png') }}");
       }
       //Affecte l'image de départ lorsque la souris ne survole plus l'élément
       function departDeLaSourisFab(element) {
       element.setAttribute('src', "{{ asset('build/images/fabien.png') }}");
       }
   
   
   function passageDeLaSouris(element) {
       element.setAttribute('src', "{{ asset('build/images/neka-hover.png') }}");
       }
       //Affecte l'image de départ lorsque la souris ne survole plus l'élément
       function departDeLaSouris(element) {
       element.setAttribute('src', "{{ asset('build/images/neka.png') }}");
       }
   
       function passageDeLaSourisPj(element) {
       element.setAttribute('src', "{{ asset('build/images/pj-hover.png') }}");
       }
       //Affecte l'image de départ lorsque la souris ne survole plus l'élément
       function departDeLaSourisPj(element) {
       element.setAttribute('src', "{{ asset('build/images/pj.png') }}");
       }
   
       function passageDeLaSourisQuentin(element) {
       element.setAttribute('src', "{{ asset('build/images/quentin-hover.png') }}");
       }
       //Affecte l'image de départ lorsque la souris ne survole plus l'élément
       function departDeLaSourisQuentin(element) {
       element.setAttribute('src', "{{ asset('build/images/quentin.png') }}");
       }
       
</script>
</section>
</div>

{% endblock %}



