{# {% extends 'base.html.twig' %}


{% block title %} AlgoSchool - Page 404 {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/homepage.css')}}"> 
    <link rel="stylesheet" href="{{ asset('build/contact.css')}}"> 
{% endblock %}


{% block fullwidth %}
<div class="bg_blue" style="padding-bottom: 20px;">

	<div id="notfound">

		<div class="notfound">
                                        <img class="error" src="{{ asset('build/images/404.png') }}">
			<div class="notfound-bg">

				<div></div>
				<div></div>
				<div></div>
			</div>
			<h1>oups!</h1>
			<h2>Erreur 404 : Page non trouvé</h2>
			<a href="/">Retour à la page précèdente</a>
<!-- 			<div class="notfound-social">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-pinterest"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
			</div> -->
		</div>
	</div>

{% endblock %}

 #}

test