{% block title %} AlgoSchool - Foire aux questions - Rejoint l'aventure de Robert Louis{% endblock %}
{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/homepage.css')}}"> 
        <link rel="stylesheet" href="{{ asset('build/contact.css')}}"> 
    {% endblock %}

{% block fullwidth %}
<meta name="description" content="Algoschool est une plateforme d’apprentissage de la logique algorithmique à destination des enfants et adolescents.
 Une méthode idéale pour découvrir les joies du développement informatique." />
<div class="bg_blue">
<img class="montgolfiere1" src="/build/images/montgolfiere.1fe70002.png" alt="">
           
<section class="section-padding-faq" id="features_page">
        <div class="container">
    <div class="media-container-row">
            <div class="col-12 col-md-12">
                <div class="section-head text-center space30">
                    <h1 class="page_heading" style="color:white">
                    FAQ - Foire aux questions
                    </h1>
                </div>
                <div class="clearfix"></div>
                <div id="bootstrap-accordion_475" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    
                    <div class="card">
                        <div class="card-header1" role="tab" id="headingOne">
                            <a role="button" class="panel-title text-black" data-toggle="collapse" data-parent="#bootstrap-accordion_475" data-core="" href="#collapse1_475" aria-expanded="true" aria-controls="collapse1">
                                <h4 class="mbr-fonts-style display-5 faq">
                                    <span class="sign mbr-iconfont inactive mbri-arrow-up"></span>
                                    Qu'est-ce que Algoschool ?
                                </h4>
                            </a>
                        </div>
                        <div id="collapse1_475" class="panel-collapse noScroll collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   Algoschool est une plateforme d’apprentissage de la logique algorithmique à destination des enfants et adolescents. Une méthode idéale pour découvrir les joies du développement informatique.  </div>
                        </p></div>
                    </div>
                    <div class="card">
                        <div class="card-header1" role="tab" id="headingTwo">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-parent="#bootstrap-accordion_475" data-core="" href="#collapse2_475" aria-expanded="false" aria-controls="collapse2">
                                <h4 class="mbr-fonts-style display-5 faq">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>À quel âge Algoschool convient-il ?
                               </h4>
                            </a>
                            
                        </div>
                        <div id="collapse2_475" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                Algoschool convient aux enfants de 8 ans et plus, bien que nous ayons également des utilisateurs plus jeunes. Quel que soit votre âge, il n’est jamais trop tard ou trop tôt pour apprendre la logique algorithmique. </div>
                        </p></div>
                    </div>
                    <div class="card">
                        <div class="card-header1" role="tab" id="headingThree">
                            <a role="button" class="collapsed text-black panel-title" data-toggle="collapse" data-parent="#bootstrap-accordion_475" data-core="" href="#collapse3_475" aria-expanded="false" aria-controls="collapse3">
                                <h4 class="mbr-fonts-style display-5 faq">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Dois-je télécharger ou installer quelque chose pour jouer ?
                                </h4>
                            </a>
                        </div>
                        <div id="collapse3_475" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                  Non, Algoschool est entièrement basé sur le Web et ne nécessite aucune installation.</p> </div>
                        </div>
                    </div>


 <div class="card">
                        <div class="card-header1" role="tab" id="headingFour">
                            <a role="button" class="collapsed text-black panel-title" data-toggle="collapse" data-parent="#bootstrap-accordion_475" 
                            data-core="" href="#collapse4_475" aria-expanded="false" aria-controls="collapse4">
                                <h4 class="mbr-fonts-style display-5 faq">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Quelles sont les exigences techniques requises pour exécuter Algoschool ?
                                </h4>
                            </a>
                        </div>
                        <div id="collapse4_475" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                 Si vous utilisez Algoschool sur un ordinateur de bureau ou un ordinateur portable : 
                                 La seule chose dont vous avez besoin est une version relativement récente de Firefox, Chrome, Explorer ou Safari, ainsi qu'une connexion Internet. 
                                 Si vous utilisez Algoschool sur une tablette : pour de meilleures performances, utilisez une tablette relativement nouvelle (des deux dernières années) connectée à Internet et accédez à notre site Web via l'application Chrome / Safari.
           </p> </div>
                        </div>
                    </div>

                                        <div class="card">
                        <div class="card-header1" role="tab" id="headingFive">
                            <a role="button" class="collapsed text-black panel-title" data-toggle="collapse" data-parent="#bootstrap-accordion_475" data-core="" href="#collapse5_475" 
                            aria-expanded="false" aria-controls="collapse5">
                                <h4 class="mbr-fonts-style display-5 faq">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Algoschool fonctionne-t-il sur les tablettes ?

                                </h4>
                            </a>
                        </div>
                        <div id="collapse5_475" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                  Oui, vous pouvez apprendre l'algorithmie avec Algoschool via votre tablette, allez simplement sur notre site Web sur votre tablette 
                                  (en utilisant l'application Chrome ou Safari) et cliquez sur "Essayer maintenant" pour commencer à jouer. Actuellement, seuls le premier défis est disponible mais                              es défis du mode de compétence en corrélation sont disponibles sur les tablettes. Plus de défis à venir Pour de meilleures performances, 
                                  nous vous recommandons d'utiliser une tablette relativement nouvelle (des deux dernières années).</p> </div>
                        </div>
                    </div>
                                       
                                        <div class="card">
                        <div class="card-header1" role="tab" id="headingSix">
                            <a role="button" class="collapsed text-black panel-title" data-toggle="collapse" data-parent="#bootstrap-accordion_475" data-core="" 
                            href="#collapse6_475" aria-expanded="false" aria-controls="collapse6">
                                <h4 class="mbr-fonts-style display-5 faq">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Comment est-ce que je joue ?
 </h4>
                            </a>
                        </div>
                        <div id="collapse6_475" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                  Pour commencer à jouer, cliquez sur le bouton "Essayer maintenant" sur la page d'accueil. 
                                  Afin d'aider votre personnage à aller jusqu'a la Montgolfiere, vous devez trouver et prendre les bons blocs logiques et cliquer ensuite sur l'objet en question. Par exemple, il faut cliquer sur le clocs "sauter" pour passer par dessu le rocher et ensuite cliquer sur cette objet.
                               </p> </div>
                        </div>

                        <div class="card">
                        <div class="card-header1" role="tab" id="headingSeven">
                            <a role="button" class="collapsed text-black panel-title" data-toggle="collapse" data-parent="#bootstrap-accordion_475" data-core="" 
                            href="#collapse7_475" aria-expanded="false" aria-controls="collapse7">
                                <h4 class="mbr-fonts-style display-5 faq">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Comment nous contacter directement ?
 </h4>
                            </a>
                        </div>
                        <div id="collapse7_475" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                N'hésitez pas à nous écrire un mot, nous vous répondrons le plus vite possible !
Pour nous contacter : contact@algoschool.fr</p> </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    
        </div>
    </section>
    </div>
{% endblock %}
