{% extends 'base.html.twig' %}

{% block title %} AlgoSchool - Jeu pédagogique pour apprendre l'algorithmie aux jeunes enfants {% endblock %}
 
{% block stylesheets %}
      <meta name="description" content="Algoschool est une plateforme d’apprentissage de la logique algorithmique à 
      destination des enfants et adolescents. Une méthode idéale pour découvrir les joies du développement informatique." />
    <link rel="stylesheet" href="{{ asset('build/homepage.css')}}">
{% endblock %}           
 
 
{% block block_header %}

{% endblock %}

{% block fullwidth %}
<!-- Haader de la page -->



<header class="home-area overlay pdtop" id="home_page">
   <div class="container d-none d-sm-block xs-block">
      <div class="row">
         <video id="bgvid" playsinline autoplay muted loop>
            <source src="{{ asset('build/images/video_bg.mp4') }}" type="video/webm">
         </video>
         <div class="col-xs-12 col-md-12" style="margin-top: -50px;">
            <div class="space-80 hidden-xs"></div>
            <h1 class="blueTitle wow fadeInUp titre d-none d-sm-block xs-block" data-wow-delay="0.4s">Apprendre la logique algorithmique</h1>
            <p class="blue voileTitle"> aux enfants !</p>
            <br>
            <div class="desc wow fadeInUp" data-wow-delay="0.6s">
               <p class="soustitre d-none d-sm-block">Vous souhaitez apprendres les bases de la logique aux enfants ? Nous avons la solution avec AlgoSchool. <br>
                  AlgoSchool est là pour faire découvrir la logique aux enfants de façon ludique et pédagogique.
               </p>
            </div>
            <div class="space-20"></div>
            <a href="{{ path('maquette') }}" class="bttn-white wow fadeInUp btn-defaut" data-wow-delay="0.8s"><i class="lnr lnr-download"></i>Jouez maintenant</a>
         </div>
      </div>
   </div>
   <!--image blanche -->
   <img class="bg d-none d-sm-block xs-block" src="{{ asset('build/images/fond-bg.png') }}">
   <img class="bg d-none d-sm-block xs-block montgolfierehome" src="{{ asset('build/images/montgolfiere.png') }}" alt="">
   <div class="container d-sm-none d-md-none">

      <section class="bg_blue">
         <div class="row">
            <div class="col-xs-12 col-md-7 d-md-none">
               <div class="space-80 hidden-xs"></div>
               <img class="montgolfiereMobile pdbot" src="{{ asset('build/images/montgolfiere.png') }}">
               <h5 class="title" style="color: white;margin-top: -57px;font-size: 25px;" data-wow-delay="0.4s">Apprendre la logique algorithmique<span class="titleblue" style="font-size: 25px;"> aux enfants !</span></h5>
               <br>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p class="soustitre" style="font-size: 17px;">Vous souhaitez apprendres les bases de la logique algorithmique à votre enfant ? 
                  Nous avons la solution avec AlgoSchool. <br>
                  AlgoSchool est là pour faire découvrir la logique aux enfants de façon ludique et pédagogique.</p>
               </div>
               <div class="space-20"></div>
               <a href="{{ path('maquette') }}" class="bttn-white wow fadeInUp btn-defaut" data-wow-delay="0.8s"><i class="lnr lnr-download"></i>Jouez maintenant</a>
               <br>
            </div>
         </div>
   </div>
   </section>
</header>
<!-- Progress-Area -->
<section class="section-1" id="progress_page">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 d-none d-sm-none d-md-none">
            <figure class="mobile-image d-none d-sm-block d-md-none">
               <img class="d-none d-sm-block d-md-none" src="{{ asset('build/images/image_jeux.png') }}" style="
                  padding-top: 20px;" alt="image jeu algoschool">
            </figure>
         </div>
         <div class="col-xs-12 col-md-6">
            <div class="section-padding1">
               <h5 class="title" data-wow-delay="0.2s">une nouvelle façon 
                  <br><span class="titleblue"> d’apprendre la logique pour les enfants<span>
               </h5>

               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Comprendre la logique informatique</h3>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  Algoschool est une plateforme d’apprentissage de la logique algorithmique à destination des enfants, une méthode idéale pour découvrir les joies du développement informatique. 
                  Comprenez le langage informatique comme vous ne l’avez jamais vu. Un jeu, une appli et l’algorithmie s’ouvrent à votre enfant.
. 
               </div>
               {# 
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Progressez vite</h3>
               #}
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Ludique et facile</h3>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Tu apprendras la logique grâce à un langage de programmation visuel, à base de blocs logiques à imbriquer, ce qui permet de s’affranchir de la difficulté d’apprendre la syntaxe ardue d’un langage de programmation classique. </p>
               </div>
               {# 
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Progressez en résolvant des challenges et défis uniques. Une façon ludique afin de comprendre l’algorithmie. 
               </div>
               <div class="space-50"></div>
               #}
               <a href="{{ path('discover') }}" class="bttn-default wow fadeInUp" data-wow-delay="0.8s">DÉCOUVRIR</a>
            </div>
         </div>
         <div class="col-md-6">
            <figure class="mobile-image">
               <img class="d-none d-sm-block xs-block" src="{{ asset('build/images/image_jeux.png') }}" style="
                  padding-top: 20px;" alt="image jeu algoschool">
            </figure>
         </div>
      </div>
   </div>
</section>
<!-- Progress-Area-End -->
<!-- Video-Area -->
<section class="video-area section-padding">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-6">
            <div class="video-photo">
               <img src="{{ asset('build/images/iphone.png') }}" alt="">
               </a>
            </div>
         </div>
         <div class="col-xs-12 col-md-6 col-md-offset-1 paddingblanc">
            <div class="">
               <h5 class="title wow fadeInUp right"  data-wow-delay="0.2s">
                  Apprendre la logique
                  <br>
                  <p class="titleblue right" >Un jeu multiplateforme</p>
               </h5>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Cet outil est bientôt disponible sur toutes les plateformes ! Que l’enfant soit sur PC, tablette ou mobile, il pourra jouer et apprendre avec AlgoSchool. 
               </div>
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">ORDINATEUR</h3>
               <div class="space-20"></div>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Les enfants pourront jouer directement depuis un ordinateur sur le site AlgoSchool.fr pour une meilleure jouabilité. 
               </div>
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">TABLETTES & MOBILES</h3>
               <div class="space-20"></div>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>L'application sera bientôt disponible sur App Store et Google Play pour qu’il puisse jouer partout. 
                  Pour la télécharger, ce sera simple et gratuit. 
               </div>
               <div class="col-md-12" style="margin-left: 20%;margin-top: 8%;margin-bottom: 3%;">
               <img class="button_get" src="{{ asset('build/images/android.png') }}" alt="">
               <img class="button_get" src="{{ asset('build/images/ios.png') }}" alt="">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Video-Area-End -->
<!-- Video-Area -->
<section class="section-padding">
   <div class="container">
      <h5 class="title section3" style="text-align: center;
         display: block;" data-wow-delay="0.2s">Aussi conçu en pensant 
         <span class="titleblue" style="text-align:center">aux enseignants !<span>
      </h5>
      <div class="row">
         <div class="col-xs-12 col-md-4">
            <div class="">
             <img id="my-img" src="{{ asset('build/images/icon1.png') }}" onmouseover=passageDeLaSourisIconUn(this); onmouseout=departDeLaSourisIconUn(this); />            
               {# <img class="icon img1" src="{{ asset('build/images/icon1.gif') }}" alt=""> #}
               <h3 class="soustitle" style="text-align: center;" data-wow-delay="0.4s">
                  Développez vos compétence
               </h3>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p class="center">Encouragez les enfants et étudiants à travailler leurs logiques de façon efficace afin d'être plus performants.
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-md-4">
            <div class="">
                         <img id="my-img" src="{{ asset('build/images/icon2.png') }}" onmouseover=passageDeLaSourisIconDeux(this); onmouseout=departDeLaSourisIconDeux(this); />   
               {# <img class="icon" src="{{ asset('build/images/icon2.gif') }}" alt=""> #}
               <h3 class="soustitle" style="text-align: center;" data-wow-delay="0.4s">Ressources pour les enseignants
               </h3>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p class="center">AlgoSchool fournit des outils de conception de niveaux, afin d'aider les enseignants qui veulent utiliser l'application dans le cadre de leur activité scolaire.
               </div>
               {# <a href="#" class="bttn-default wow fadeInUp" data-wow-delay="0.8s">DÉCOUVRIR</a> #}
            </div>
         </div>
         <div class="col-xs-12 col-md-4">
            <div class="">
            <img id="my-img" src="{{ asset('build/images/icon3.png') }}" onmouseover=passageDeLaSourisIconTrois(this); onmouseout=departDeLaSourisIconTrois(this); /> 
               {# <img class="icon" src="{{ asset('build/images/icon3.gif') }}" alt=""> #}
               <h3 class="soustitle" style="text-align: center;" data-wow-delay="0.4s">Accessible à tout le monde
               </h3>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p class="center">Démocratiser le processus d'apprendre à programmer. Tout le monde est capable de coder ! Découvrez toutes les possibilités qu'AlgoSchool peut vous offrir !
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>
<!-- Video-Area-End -->
<!-- Feature-Area -->
<section class="feature-area section-padding-com" id="features_page">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-6">
            <div class=" section-padding1">
               <h5 class="title wow fadeInUp" style="color:white;" data-wow-delay="0.2s">LA COMMUNAUTÉ
                  <br><span class="titleblue"> ALGOSCHOOL<span>
               </h5>

               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Communauté</h3>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Rejoignez la communauté Algoschool afin de connaître sur les bouts des doigt notre outil de developpement informatique.</p>
               </div>
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Forum</h3>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Un forum est disponible sur l’application comme sur le site afin de pouvoir echanger et poser vos questions concernant notre outil.</p>
               </div>
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Rester en contact</h3>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Algoschool, c’est aussi le moyen de vous faire des amis et de vous créer un réseau de personne débutante dans l’algorithme et le developpement informatique.</p>
               </div>
               <div class="space-50"></div>
               <a href="/forum" class="bttn-white wow fadeInUp btn-defaut" data-wow-delay="0.8s">DÉCOUVRIR</a>
            </div>
         </div>
         <div class="col-xs-12 col-md-6">
            {# 
            <figure class="mobile-image">
               <img src="{{ asset('build/images/image_reseau.png') }}" style="
                  padding-bottom: 50px;    padding-top: 50px;
                  " alt="">
            </figure>
            #}
            <figure class="mobile-image">
               <img src="{{ asset('build/images/image_reseau.gif') }}" style="
                  padding-bottom: 50px; padding-top: 60px;margin-top:-5em;
                  " alt="">
            </figure>
         </div>
      </div>
   </div>
   </div>
</section>
<!-- Feature-Area-End -->
<section class="section-padding-bottom">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-6">
            <div class="video-photo">
               <img class="gif_anime" src="{{ asset('build/images/perso.png') }}" alt="">
               </a>
            </div>
         </div>
         <div class="col-md-1 col-md-offset-1"></div>
         <div class="col-xs-12 col-md-5">
            <div class="space-60 hidden visible-xs"></div>
            <div class="">
               <h5 class="title wow fadeInUp right" data-wow-delay="0.2s">Complétement
                  <br><span class="titleblue right"> PERSONNALISABLE<span>
               </h5>

               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Création de niveau
               </h3>
               <div class="space-20"></div>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Vous êtes enseignant et vous souhaitez personnaliser des niveaux ?
                     AlgoSchool a pensé à vous et a mis en place un système de création de niveaux afin de proposer à vos élèves un jeu plus adapté à vos cours.
                  </p>
               </div>
               <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Personnage personnalisable
               </h3>
               <div class="space-20"></div>
               <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <p>Explorez le monde du développement informatique avec votre personnage favoris ! Vous avez plusieurs options de cheveux et vêtements pour le personnaliser comme vous le souhaitez.</p>
               </div>
               <div class="space-50"></div>
               <a href="{{ path('discover') }}" class="bttn-default wow fadeInUp" data-wow-delay="0.8s">DÉCOUVRIR</a>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Subscribe-Form -->
<div class="subscribe-area section-newsletter">
   <div class="parallelogramme"></div>
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-4">
            <div class="subscribe-form">
               <span class="titleblue2 titleblue" style="font-size: 27px;">Lettre d'information</span>
               {# {{ form_start(newsletter) }}  
               {{ form_row(newsletter.mail, {'label': 'Newsletter :', 'attr': {'placeholder': "Veuillez rentrez votre mail"}}) }}
               <button type="submt" class="btn btn-primary">
               Valider la Newsletter
               </button>
               {{ form_end(newsletter)}} #}
               <h3 class="dark-color wow fadeInUp d-none d-sm-block xs-block" style="text-align: left;

font-size: 15px;

margin-top: -15px;" data-wow-delay="0.4s">Vous souhaitez être informé de nos nouveauté.</h3>
            </div>
         </div>
         <div class="col-xs-12 col-sm-5">
            <form method="post" id="mc-form">
               <input type="email" class="form-control" placeholder="Enter your email" required="required" name="nw-email" id="mc-email">
         </div>
         <div class="col-xs-12 col-sm-3">
         <button class="bttn-white active" type="submit"><span class="lnr lnr-location"></span>S'INSCRIRE</button>
         <label class="mt10" for="mc-email"></label>
         </form>
         </div>
      </div>
   </div>
</div>
</div>
</div>
<!-- Video-Area -->
<section class="section5">
   <div class="container">
      <h5 class="section3" data-wow-delay="0.2s">
         <span class="titleblue" style="text-align:center;color:white;">à vous de jouer<span>
      </h5>
      <div class="row">
         <div class="col-xs-12 col-md-12">
            <div class="page-title">
               <h3 class="dark-color wow fadeInUp" style="color: white;" data-wow-delay="0.4s">Commencez à découvrir le monde & commencez à coder</h3>
               <a href="https://www.unipy.fr/algoschool/dist/" class="bttn-white wow fadeInUp btn-defaut" data-wow-delay="0.8s"><i class="lnr lnr-download"></i>C'EST PARTI</a>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>
<!-- Video-Area-End -->

<script>
//Affecte la nouvelle image lorsque la souris survole l'élément


function passageDeLaSourisIconUn(element) {
    element.setAttribute('src', "{{ asset('build/images/icon1.gif') }}");
    }
    //Affecte l'image de départ lorsque la souris ne survole plus l'élément
    function departDeLaSourisIconUn(element) {
    element.setAttribute('src', "{{ asset('build/images/icon1.png') }}");
    }


function passageDeLaSourisIconDeux(element) {
    element.setAttribute('src', "{{ asset('build/images/icon2.gif') }}");
    }
    //Affecte l'image de départ lorsque la souris ne survole plus l'élément
    function departDeLaSourisIconDeux(element) {
    element.setAttribute('src', "{{ asset('build/images/icon2.png') }}");
    }

    function passageDeLaSourisIconTrois(element) {
    element.setAttribute('src', "{{ asset('build/images/icon3.gif') }}");
    }
    //Affecte l'image de départ lorsque la souris ne survole plus l'élément
    function departDeLaSourisIconTrois(element) {
    element.setAttribute('src', "{{ asset('build/images/icon3.png') }}");
    }

   
    </script>


{% endblock %}

{% block footer %} {% include "footer.html.twig" %} {% endblock %}


{# 
{% block body %}

{% endblock %} #}