{% extends 'base.html.twig' %}


{% block title %} Algoschool - Découvrez les prix proposés pour apprendr la logique à votre enfant{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/homepage.css')}}"> 
    <link rel="stylesheet" href="{{ asset('build/myprodfil.css')}}">  

{% endblock %}


{% block fullwidth %}
<meta name="description" content="Vous êtes enseignant et vous souhaitez personnaliser des niveaux ?
 AlgoSchool a pensé a vous et a mis en place un système de création de niveaux afin de proposer à vos élèves un jeu plus adapté à vos cours." />
    <section class="section-padding price-area" id="price_page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title text-center">
                        <h5 class="title">Faites évoluer votre compte AlgoSchool</h5>
                        <h3 class="dark-color">Faites voyager votre connaissance</h3>
                        <br>
                        <p>Vous bénéficiez actuellement de 2 continents <b>d'essai gratuit</b>, si vous souhaitez accéder au reste du contenu souscrivez un abonnement.</p>
                        <br>
                        <div class="space-60"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="price-box">
                        <div class="price-header">
                            <div class="price-icon">
                                <span class="lnr lnr-rocket"></span>
                            </div>
                            <h4 class="upper">Élèves</h4>
                        </div>
                        <div class="price-body" style="text-align: left;">
                            <ul>
                                <li>Accès aux niveaux <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Personnalisation du personnage <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de niveau <img src="{{ asset('build/images/notValide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de comptes élèves <img src="{{ asset('build/images/notValide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de comptes professeurs <img src="{{ asset('build/images/notValide.png') }}" class="valide" alt="valide"></li>
                                <li>Suivi de comptes élèves <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Suivi de comptes professeurs <img src="{{ asset('build/images/notValide.png') }}" class="valide" alt="valide"></li>                            
                            </ul>
                        </div>
                        <div class="price-rate">
                            <sup></sup> <span class="rate">4,99€</span><small>/Mois</small>
                        </div>
                    </div>
                    <div class="space-30 hidden visible-xs"></div>
                </div>
                <br>
                <div class="col-xs-12 col-sm-4">
                    <div class="price-box">
                        <div class="price-header">
                            <div class="price-icon">
                                <span class="lnr lnr-diamond"></span>
                            </div>
                            <h4 class="upper">Professeur</h4>
                        </div>
                        <div class="price-body" style="text-align: left;">
                            <ul>
                                <li>Accès aux niveaux <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Personnalisation du personnage <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de niveau (5 crédits)<img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de comptes élèves (30 crédits)<img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de comptes professeurs <img src="{{ asset('build/images/notValide.png') }}" class="valide" alt="valide"></li>                               
                                <li>Suivi de comptes élèves <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Suivi de comptes professeurs <img src="{{ asset('build/images/notValide.png') }}" class="valide" alt="valide"></li>

                            </ul>
                        </div>
                        <div class="price-rate">
                            <sup></sup> <span class="rate">29,99€</span> <small>/Mois</small>
                        </div>
                    </div>
                    <div class="space-30 hidden visible-xs"></div>
                </div>
                <br>
                <div class="col-xs-12 col-sm-4">
                    <div class="price-box">
                        <div class="price-header">
                            <div class="price-icon">
                                <span class="lnr lnr-pie-chart"></span>
                            </div>
                            <h4 class="upper">Établissement</h4>
                        </div>
                        <div class="price-body" style="text-align: left;">
                            <ul>
                                <li>Accès aux niveaux <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Personnalisation du personnage <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de niveau (100 crédits) <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de comptes élèves (500 crédits)<img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de comptes professeurs (30 crédits)<img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Suivi de comptes élèves <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Suivi de comptes professeurs <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                            </ul>
                        </div>
                        <div class="price-rate">
                            <sup></sup> <span class="rate">299,99€</span> <small>/Mois</small>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </section>
{% endblock %}



