{% extends 'base.html.twig' %}


{% block title %} AlgoSchool - Contactez-nous {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/homepage.css')}}"> 
    <link rel="stylesheet" href="{{ asset('build/contact.css')}}"> 
{% endblock %}

{% block fullwidth %}

<div class="bg_blue" style="padding-bottom: 1px;">
<section class="feature-area-discover section-padding-equipe" id="features_page">
   <div class="container">
   <div class="row">
      <div class="col-xs-12 col-md-12">
         <div class=" section-padding1">
            
            <h5 class="title wow fadeInUp" style="color:white;" data-wow-delay="0.2s">Notre équipe  
            </h5>
            <h3 class="wow fadeInUp soustitle" data-wow-delay="0.4s">Découvre notre équipe</h3>
         <p>
            Notre équipe projet est constitué  de 4  personnes venant d’horizons très divers, cependant  nous collaborons  ensemble afin  d’atteindre  un objectif  commun, 
            mener à bien la réussite de ce projet.
         </p>
         <p> Nous   nous   sommes   tous   rencontré   dans   le   cadre   de   la   formation   WEB-MULTIMÉDIA  «Chef  de  Projet  en  Marketing 
            Internet  et  Conception  de  site (Bachelor). Cette formation permet d’acquérir une double compétence en webmarketing et conception web.
         </p>
         <div class="col-md-12">
 <div class="row pt-md">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
              <div class="img-box">
              <img id="my-img" src="{{ asset('build/images/fabien.png') }}" onmouseover=passageDeLaSourisFab(this); onmouseout=departDeLaSourisFab(this); />
              </div>
              <div class="profile">
              <h3 class="soustitle-equipe">Fabien poret</h3>
               <img src="{{ asset('build/images/developpeur.png') }}">
		<div class="notfound-social">
				<a href="https://www.facebook.com/fabien.poret.3"><i class="fa fa-facebook"></i></a>
				<a href="mailto:fabien.poret@outlook.fr"><i class="fa fa-envelope"></i></a>
				<a href="https://www.linkedin.com/in/fabien-poret-536b4b122/"><i class="fa fa-linkedin"></i></a>
				<a href="https://www.ambitious-web.fr/"><i class="fa fa-globe"></i></a>
			</div>
              {# <p>J'aime les poneys</p> #}
          </div></div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
              <div class="img-box">
              <img id="my-img" src="{{ asset('build/images/neka.png') }}" onmouseover=passageDeLaSouris(this); onmouseout=departDeLaSouris(this); />
                
                {# <img class="avatarneka" src="{{ asset('build/images/neka.png') }}"> #}
              </div>
              <div class="profile">
              <h3 class="soustitle-equipe">Neka torreiro</h3>
               <img src="{{ asset('build/images/graphiste.png') }}">
               		<div class="notfound-social">
				<a href="@nekadesigner"><i class="fa fa-instagram"></i></a>
				<a href="www.linkedin.com/in/nekatorreiro"><i class="fa fa-linkedin"></i></a>
				<a href="mailto:neka@algoschool.fr"><i class="fa fa-envelope"></i></a>
				<a href="www.nekatorreiro.fr"><i class="fa fa-globe"></i></a>
			</div>
              {# <p >J'adore les tetinas</p> #}
          </div></div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
              <div class="img-box">
              <img id="my-img" src="{{ asset('build/images/pj.png') }}" onmouseover=passageDeLaSourisPj(this); onmouseout=departDeLaSourisPj(this); />
              </div>
              <div class="profile">
              <h3 class="soustitle-equipe">Pierre BAzin</h3>
               <img src="{{ asset('build/images/webdesigner.png') }}">
               		<div class="notfound-social">
				{# <a href="#"><i class="fa fa-facebook"></i></a> #}
				<a href="https://www.linkedin.com/in/pierre-bazin-4a5460167/"><i class="fa fa-linkedin"></i></a>
				<a href="mailto:pjbazin@gmail.com"><i class="fa fa-envelope"></i></a>
				<a href="www.pjbazin.fr"><i class="fa fa-globe"></i></a>
			</div>
              {# <p>Le plus beau</p> #}
          </div></div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
              <div class="img-box">
              <img id="my-img" src="{{ asset('build/images/quentin.png') }}" onmouseover=passageDeLaSourisQuentin(this); onmouseout=departDeLaSourisQuentin(this); />
              </div>
              <div class="profile">
              <h3 class="soustitle-equipe">Quentin Tardif</h3>
               <img src="{{ asset('build/images/marketeur.png') }}">
               		<div class="notfound-social">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-pinterest"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
			</div>
              {# <p>Je m'apelle Quentin</p> #}
              </div>
          </div>
        </div>
    </div>
                </div>
         </div></div>
      </div>
   </div>
</section>



                </div>
            </div>
        </div>
    </div>
        </div>
    </section>
    </div>


<script>
//Affecte la nouvelle image lorsque la souris survole l'élément


function passageDeLaSourisFab(element) {
    element.setAttribute('src', "{{ asset('build/images/fabien-hover.png') }}");
    }
    //Affecte l'image de départ lorsque la souris ne survole plus l'élément
    function departDeLaSourisFab(element) {
    element.setAttribute('src', "{{ asset('build/images/fabien.png') }}");
    }


function passageDeLaSouris(element) {
    element.setAttribute('src', "{{ asset('build/images/neka-hover.png') }}");
    }
    //Affecte l'image de départ lorsque la souris ne survole plus l'élément
    function departDeLaSouris(element) {
    element.setAttribute('src', "{{ asset('build/images/neka.png') }}");
    }

    function passageDeLaSourisPj(element) {
    element.setAttribute('src', "{{ asset('build/images/pj-hover.png') }}");
    }
    //Affecte l'image de départ lorsque la souris ne survole plus l'élément
    function departDeLaSourisPj(element) {
    element.setAttribute('src', "{{ asset('build/images/pj.png') }}");
    }

    function passageDeLaSourisQuentin(element) {
    element.setAttribute('src', "{{ asset('build/images/quentin-hover.png') }}");
    }
    //Affecte l'image de départ lorsque la souris ne survole plus l'élément
    function departDeLaSourisQuentin(element) {
    element.setAttribute('src', "{{ asset('build/images/quentin.png') }}");
    }
    </script>
{% endblock %}
