/*-- Price-Area --*/

.price-box {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    color: #8790af;
    -webkit-box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
background: white;
}

.valide {
    width: 15px;
}

.price-box:hover {
    -webkit-box-shadow: 0 0 50px -15px #4d43c6;
box-shadow: 0 0 50px -15px #787878;}

.price-box .price-header {
background: linear-gradient(45deg, #f1f2f7 0%, #6ac6f0 100%);
background-color: #f2f3fc;
padding: 40px;
color: #616974;
background: #482cbf;
background: -webkit-linear-gradient(45deg, #482cbf 0%, #6ac6f0 100%);
background: -o-linear-gradient(45deg, #482cbf 0%, #6ac6f0 100%);
background: linear-gradient(45deg, #4a80cc 0%, #6ac6f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
position: relative;
overflow: hidden;
z-index: 2;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;}

.price-box .price-header:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f3fc;
    z-index: -1;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.price-box:hover .price-header {
    color: #ffffff;
}

.price-box:hover .price-header:before {
    opacity: 0;
}


.price-box .price-header .price-icon {
    font-size: 60px;
    margin-bottom: 10px;
}

.price-box .price-header h4 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
}

.price-box .price-body {
    padding: 40px;
}

.price-box .price-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.price-box .price-rate {
    color: #13a3a7;
    font-size: 20px;
    font-family: riffic;}

.price-box .price-rate sup {
    top: -20px;
    font-size: 26px;
}

.price-box .price-rate .rate {
    font-size: 56px;
}

.price-box .price-footer {
    margin-bottom: 40px;
}

.price-box .price-footer .bttn-white {
    padding: 13px 50px;
}

.price-box .price-footer .bttn-white:before {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 100px;
    left: 2px;
    top: 2px;
}

