<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="{{ asset('build/images/logo.png') }}" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="{{ asset('build/images/logo-algoschool.png') }}" alt="Logo2"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="menu-item-has-children ">
                    <a href="{{ path('home') }}"> <i class="menu-icon fa fa-home"></i>AlgoSchool</a>
                </li>
                <li class="active">
                    <a href="{{ path('admin') }}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard</a>
                </li>
                <h3 class="menu-title">Communauté d'AlgoSchool</h3><!-- /.menu-title -->



                {% if roleUser not in [ 0, 1, 2]  %}
                    <li class="menu-item-has-children dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-picture-o"></i>Blog</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-picture-o"></i><a href="{{ path('blog') }}">Voir le Blog</a></li>
                            <li><i class="menu-icon fa fa fa-gear"></i><a href="{{ path('blogAdmin') }}">Administrer le Blog</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="menu-item-has-children ">
                        <a href="{{ path('blog') }}"> <i class="menu-icon fa fa-users"></i>Blog</a>
                    </li>
                {% endif %}
                <li class="menu-item-has-children dropdown">
                    <a href="{{ path('forum') }}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-comments-o"></i>Forums</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-keyboard-o"></i><a href="{{ path('forum_one') }}">Apprentie développeur</a></li>
                        <li><i class="menu-icon fa fa-key"></i><a href="{{ path('forum_two') }}">Solution du jeu</a></li>
                        <li><i class="menu-icon fa fa-briefcase"></i><a href="{{ path('forum_three') }}">Enseignants</a></li>
                    </ul>
                </li>

                <h3 class="menu-title">Univers d'algoschool</h3><!-- /.menu-title -->

                <li class="menu-item-has-children ">
                    <a href="{{ path('maquette') }}"> <i class="menu-icon fa fa-gamepad"></i>Direction la Montgolfière</a>
                    {# <a href="{{ path('game') }}"> <i class="menu-icon fa fa-gamepad"></i>Direction la Montgolfière</a> #}
                </li>

                <li class="menu-item-has-children ">
                    <a href="{{ path('character') }}"> <i class="menu-icon fa fa-smile-o"></i>Mon personnage</a>
                </li>
    
                <li class="menu-item-has-children dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-group"></i>Gérer mes utilisateurs</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-gear"></i><a href="{{ path('adminMyUsers') }}">Administration</a></li>
                        <li><i class="menu-icon fa fa-laptop"></i><a href="{{ path('skillOfMyUsers') }}">Compétences / Suivi</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Création d'epreuve</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-gears (alias)"></i><a href="{{ path('createLvl') }}">Créer une epreuve</a></li>
                        <li><i class="menu-icon fa  fa-unlock"></i><a href="{{ path('editLvl') }}">Modifier mes epreuves</a></li>
                        <li><i class="menu-icon fa fa-search"></i><a href="{{ path('showLvl') }}">Chercher des epreuves</a></li>
                    </ul>
                </li>


                <h3 class="menu-title">Mon jardin secret</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Mon compte</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-user"></i><a href="{{ path('myProfil') }}">Mon profil</a></li>
                        <li><i class="menu-icon fa fa-user"></i><a href="{{ path('upgrade') }}">Evoluer mon offre</a></li>
                        <li><i class="menu-icon fa fa-gear (alias)"></i><a href="{{ path('myParam') }}">Mes paramètres</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children ">
                    <a href="{{ path('security_logout') }}"> <i class="menu-icon fa fa-lock"></i>Deconnexion</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

