{% extends 'admin.html.twig' %}

{% block title %}Administration de AlgoSchool{% endblock %}

{% block fullwidth %}


    <!-- Left Panel -->
    {% include "admin/parts/menuAdmin.html.twig" %}  

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        {% include "admin/parts/header.html.twig" %}  

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">  <a href="{{ path('user_create') }}" class="btn btn-primary" name="edit">Créer 1 ou X utilisateur</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
        {% if roleUser not in [ 0 ]  %}
            <table id="myTable" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom de compte</th>
                    <th>E-mail</th>
                    <th>Rôle </th>
                    <th>Action </th>
                </tr>
                </thead>
                {% for allUser in allUsers %}
                    {% if allUser.role != 4 %}
                    <tr>
                        <td>{{ allUser.id }}</td>
                        <td>{{ allUser.username |truncate(20) }}</td>
                        <td>{{ allUser.email |truncate(20) }}</td>
                        <td>{{ allUser.role }}</td>
                        <td>
                            <form action="#" method="POST" name="formedit">
                                <input type="hidden" name="user_id" value="{{allUser.id}}">
                                <button type="submt" class="btn btn-danger" name="deleteUser">Delete</button>
                            </form>       
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}   
        </div> <!-- .content -->
    </div><!-- /#right-panel -->


{% endblock %}
