{% extends 'admin.html.twig' %}

{% block title %}Administration de AlgoSchool{% endblock %}

{% block fullwidth %}
    <link rel="stylesheet" href="{{ asset('build/myprodfil.css')}}">  
    <!-- Left Panel -->
    {% include "admin/parts/menuAdmin.html.twig" %}  


    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        {% include "admin/parts/header.html.twig" %}  

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row">
                <div class="col">
                    {% if roleUser == 0 %}
                        Vous êtes actuellement connecté avec un compte <b>élèves</b>
                    {% elseif roleUser == 1 %}
                        Vous êtes actuellement connecté avec un compte <b>professeur</b>
                    {% elseif roleUser == 2 %}
                        Vous êtes actuellement connecté avec un compte <b>établissement</b>
                    {% elseif roleUser == 3 %}
                        Vous êtes actuellement connecté avec un compte <b>modérateur</b>
                    {% elseif roleUser == 4 %}
                        Vous êtes actuellement connecté avec un compte <b>superAdmin</b>
                    {% endif %}
                    {{ roleUser }}
                </div>
                <div class="col">
                    Identifiant unique : {{ userConnect.id }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Nom du compte : {{ userConnect.username }}
                </div>
                <div class="col">
                    Adresse mail : {{ userConnect.email }}
                </div>
            </div>
            <div class="row">
                Mettre des ranges pour afficher des données
            </div>
        </div> <!-- .content -->
    </div><!-- /#right-panel -->
{% endblock %}
