{% extends 'admin.html.twig' %}

{% block title %}Administration de AlgoSchool{% endblock %}

{% block fullwidth %}
    <link rel="stylesheet" href="{{ asset('build/myprodfil.css')}}">  
    <!-- Left Panel -->
    {% include "admin/parts/menuAdmin.html.twig" %}  


    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        {% include "admin/parts/header.html.twig" %}  

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <form action="" method="post">
       <!--Price-Area -->
    <section class="section-padding price-area" id="price_page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title text-center">
                        <h5 class="title">Faites évoluer votre compte AlgoSchool</h5>
                        <h3 class="dark-color">Faites voyager votre connaissance</h3>
                        <br>
                        <h6>
                        {# {% switch roleUser %}
                            {% case 0 %}
                                Vous êtes actuellement connecté avec un compte <b>élèves</b>
                            {% case 1 %}
                                Vous êtes actuellement connecté avec un compte <b>professeur</b>
                            {% case 2 %}
                                Vous êtes actuellement connecté avec un compte <b>établissement</b>
                            {% case 3 %}
                                Vous êtes actuellement connecté avec un compte <b>modérateur</b>
                            {% case 4 %}
                                Vous êtes actuellement connecté avec un compte <b>superAdmin</b>
                        {% endswitch %} #}
                        {% if roleUser == 0 %}
                            Vous êtes actuellement connecté avec un compte <b>élèves</b>
                        {% elseif roleUser == 1 %}
                            Vous êtes actuellement connecté avec un compte <b>professeur</b>
                        {% elseif roleUser == 2 %}
                            Vous êtes actuellement connecté avec un compte <b>établissement</b>
                        {% elseif roleUser == 3 %}
                            Vous êtes actuellement connecté avec un compte <b>modérateur</b>
                        {% elseif roleUser == 4 %}
                            Vous êtes actuellement connecté avec un compte <b>superAdmin</b>
                        {% endif %}
                        {{ roleUser }}
                        </h6>
                        <br>
                        <div class="space-60"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="price-box">
                        <div class="price-header">
                            <div class="price-icon">
                                <span class="lnr lnr-rocket"></span>
                            </div>
                            <h4 class="upper">Élèves</h4>
                        </div>
                        <div class="price-body" style="text-align: left;">
                            <ul>
                                <li>Accès aux niveaux <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Personnalisation du personnage <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de niveau <img src="{{ asset('build/images/notValide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de comptes élèves <img src="{{ asset('build/images/notValide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de comptes professeurs <img src="{{ asset('build/images/notValide.png') }}" class="valide" alt="valide"></li>
                                <li>Suivi de comptes élèves <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Suivi de comptes professeurs <img src="{{ asset('build/images/notValide.png') }}" class="valide" alt="valide"></li>                            
                            </ul>
                        </div>
                        <div class="price-rate">
                            <sup></sup> <span class="rate">GRATUIT</span> <small>/Mois</small>
                        </div>
                        <div class="price-footer">
                           <input type="radio" class="bttn-white" name="accountType" value="0">Faire évoluer mon offre<br>
                        </div>
                    </div>
                    <div class="space-30 hidden visible-xs"></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="price-box">
                        <div class="price-header">
                            <div class="price-icon">
                                <span class="lnr lnr-diamond"></span>
                            </div>
                            <h4 class="upper">Professeur</h4>
                        </div>
                        <div class="price-body" style="text-align: left;">
                            <ul>
                                <li>Accès aux niveaux <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Personnalisation du personnage <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de niveau (5 crédits)<img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de comptes élèves (30 crédits)<img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de comptes professeurs <img src="{{ asset('build/images/notValide.png') }}" class="valide" alt="valide"></li>                               
                                <li>Suivi de comptes élèves <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Suivi de comptes professeurs <img src="{{ asset('build/images/notValide.png') }}" class="valide" alt="valide"></li>

                            </ul>
                        </div>
                        <div class="price-rate">
                            <sup></sup> <span class="rate">29,99€</span> <small>/Mois</small>
                        </div>
                        <div class="price-footer">
                            <input type="radio" class="bttn-white" name="accountType" value="1">Faire évoluer mon offre<br>
                        </div>
                    </div>
                    <div class="space-30 hidden visible-xs"></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="price-box">
                        <div class="price-header">
                            <div class="price-icon">
                                <span class="lnr lnr-pie-chart"></span>
                            </div>
                            <h4 class="upper">Établissement</h4>
                        </div>
                        <div class="price-body" style="text-align: left;">
                            <ul>
                                <li>Accès aux niveaux <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Personnalisation du personnage <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de niveau (100 crédits) <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de comptes élèves (500 crédits)<img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Création de comptes professeurs (30 crédits)<img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Suivi de comptes élèves <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                                <li>Suivi de comptes professeurs <img src="{{ asset('build/images/valide.png') }}" class="valide" alt="valide"></li>
                            </ul>
                        </div>
                        <div class="price-rate">
                            <sup></sup> <span class="rate">299,99€</span> <small>/Mois</small>
                        </div>
                        <div class="price-footer">
                            <input type="radio" class="bttn-white" name="accountType" value="2">Faire évoluer mon offre<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Price-Area-End -->
            <div class="col-lg-12 text-center">
            <button type="submit" class="btn btn-success" value="Submit">Changer mon compte</button>
            </div>
                
            </form>
        </div> <!-- .content -->
    </div><!-- /#right-panel -->
{% endblock %}
