{% extends 'admin.html.twig' %}

{% block title %}Administration de AlgoSchool{% endblock %}

{% block fullwidth %}

    <link rel="stylesheet" href="{{ asset('build/userCreate.css')}}">  

    <!-- Left Panel -->
    {% include "admin/parts/menuAdmin.html.twig" %}  


    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        {% include "admin/parts/header.html.twig" %}  

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active"><a href="{{ path('adminMyUsers') }}" class="btn btn-primary" name="edit">Gérer mes utilisateurs</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            {% if roleUser not in [ 0, 1, 2]  %}
                <h1>Vous avez des <b>crédits illimité</b></h1>
            {% elseif roleUser == 2 %}
                <h1>Vous possédez <b>255 crédits</b></h1>      
            {% elseif roleUser == 1 %}  
                <h1>Vous possédez <b>30 crédits</b></h1>      
            {% elseif roleUser == 1 %}  
                <h1>Vous possédez <b>0 crédits</b></h1>      
            {% endif %}
            <form method="post">
            <div class="form-group">
                <label for="exampleFormControlInput1">Nom de la classe </label>
                <input type="text" name="className" class="form-control" id="exampleFormControlInput1" placeholder="FORMATION CYBER 2017-2018">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Préfixe de vos compte</label>
                <input type="text" name="mail" class="form-control" id="exampleFormControlInput1" placeholder="cyber2018">
            </div>
                <div class="form-group">
                <label for="exampleFormControlInput1">Mot de passe</label>
                <input type="password" name="pwd" class="form-control" id="exampleFormControlInput1" placeholder="**********">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Le rôle des utilisateurs</label>
                <select name="role" class="form-control" id="exampleFormControlSelect1">
                <option value="0">Élèves</option>
                <option value="1">Professeur</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Vous souhaitez créer combien de compte ?</label>
                <select name="count" class="form-control" id="exampleFormControlSelect1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Commentaire</label>
                <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success" value="Submit">Création de compte aléatoire</button>
            </form>
        </div> <!-- .content -->
    </div><!-- /#right-panel -->
{% endblock %}
