
//Page contact

input[type=submit] {
  text-align: center;
  margin: auto;
  display: block;
  width: 18em;
  background: #fffeaa;
  color: #0c5460;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  cursor: pointer;
}

input[type=submit]:hover {
  color: #ffffff;
  background: #40a3a7;
}

//Page mentions

.section-mentions {
  padding-bottom: 15px;
  padding-top: 15px;

}