
// Barre de navigation
.bg-primary {
    background-color: #8FD0D6 !important;
    padding-bottom: 10px;
    background: linear-gradient(to top, #8FD0D6, rgba(33, 184, 208, 0.76))
}

.logo{
    width: 300px;
}

@media(max-width:767px){
    .logo {
        width: 200px;
    }
}

.btn-primary {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-primary:hover {
    color: #17a2b8;
    background-color: #dae0e5;
    border-color: #dae0e5;
}

.mobileMenu {
    display: none;
}

.mainmenu-area{
    display: none;
}

@media screen and (max-width: 1050px) {
    .mobileMenu {
        display: block;
    }
}
@media screen and (min-width: 1051px) {
    .mainmenu-area{
        display: block;
    }
}
.backGroundAlgo {
    background-color: #61c5cf;
}

.logoMenu {
    z-index: 55999;
}