.styleLineTrue {
    stroke:rgb(78, 192, 91)!important;
    stroke-width:2!important;
  }
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  .state {
    width: 100px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    margin: auto;
  }
  .panel {
    padding: 10px;
    border: 1px solid #aaaaaa;
    overflow-y: auto;
    height: 125px;
  }
  .algo{
    margin-left:38%;
  }
  #overflowH400px {
    /* background-color: #ABDCEB; */
    overflow-y: auto;
    height: 400px;
  }
  .st0{fill:#FFDCA7;}
  .st1{fill:#FFDCA7;stroke:#000000;stroke-width:4.066;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#3B71B8;}
  .st3{fill:#FF9AA5;stroke:#000000;stroke-width:4.0662;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:#131313;stroke:#000000;stroke-width:3.6;stroke-linejoin:round;stroke-miterlimit:10;}
  .st5{fill:none;stroke:#000000;stroke-width:3.6;stroke-linejoin:round;stroke-miterlimit:10;}
  .st6{fill:#FFFFFF;}.st7{fill:#303030;}.st8{fill:#131313;}

  .character {
    width: 400px;
}