{% extends 'admin.html.twig' %}

{% block title %}Administration de AlgoSchool{% endblock %}

{% block fullwidth %}


    <!-- Left Panel -->
    {% include "admin/parts/menuAdmin.html.twig" %}  
    {# <scriptsrc="https://code.jquery.com/jquery-3.3.1.js"integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">  
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> #}

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        {% include "admin/parts/header.html.twig" %}  

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Administration des articles</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active"><a href="{{ path('blog_create') }}" class="btn btn-primary" name="edit">Créer un article</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-xs-12 col-md-12">
        {% if roleUser not in [ 0, 1, 2]  %}
            

            <table id="myTable" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom de l'article</th>
                    <th>Catégorie</th>
                    <th>Créer le </th>
                    <th>Action </th>
                </tr>
                </thead>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title |truncate(20) }}</td>
                        <td>{{ article.category.title |truncate(20) }}</td>
                        <td>{{ article.createdAt | date('d/m/Y')}}</td>
                        <td>
                            <form action="#" method="POST" name="formedit">
                                <input type="hidden" name="blog_id" value="{{article.id}}">
                                <a href="{{ path('blog_edit', {'id' : article.id }) }}" class="btn btn-primary" name="editArticle">Edit</a>
                                <button type="submt" class="btn btn-danger" name="deleteArticle">Delete</button>
                            </form>       
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        </div>

    </div><!-- /#right-panel -->

    <script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
    </script>
{% endblock %}










{# 


{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Bienvenu {{ user }} </h1>
        <h2>Tu possède le rôle {{ roleUser }}<h2>
        {% if roleUser not in [ 0, 1, 2]  %}
            <a href="{{ path('blog_create') }}" class="btn btn-primary" name="edit">Créer un article</a>

            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom de l'article</th>
                    <th>Catégorie</th>
                    <th>Créer le </th>
                    <th>Action </th>
                </tr>
                </thead>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title |truncate(20) }}</td>
                        <td>{{ article.category.title |truncate(20) }}</td>
                        <td>{{ article.createdAt | date('d/m/Y')}}</td>
                        <td>
                            <form action="#" method="POST" name="formedit">
                                <input type="hidden" name="blog_id" value="{{article.id}}">
                                <a href="{{ path('blog_edit', {'id' : article.id }) }}" class="btn btn-primary" name="editArticle">Edit</a>
                                <button type="submt" class="btn btn-danger" name="deleteArticle">Delete</button>
                            </form>       
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% else %}
        <hr>
        <h3>Connectez-vous pour acceder à l'espace Administrateur</h3>
        {% include "parts/login.html.twig" %}
    {% endif %}
{% endblock %} #}
