{% extends 'support.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block fullwidth %}
 <div class="row">
    <div class="col-3">
      <div class="leftPanel">
        <h1>{{ msg }}</h1>
        <br>
        <div class="row" id="overflowH400px">
          <div class="algo">
          <!-- <div id="state1" class="state" ondrop="drop(event,1,'sauter')" ondragover="allowDrop(event)">S</div>  -->
            <div id="state1" class="state" ondrop="drop(event, 1, 'sauter')" ondragover="allowDrop(event)">S</div>
            <svg height={{ heightLine }} width={{ widthLine }}>
              <line id="line1" x1={{x1}} y1={{y1}} x2={{x2}} y2={{y2}} style={{styleLineFalse}}/>
            </svg>
            <div id="state2" class="state" ondrop="drop(event, 2, 'escalader')" ondragover="allowDrop(event)">E</div>
            <svg height={{ heightLine }} width={{ widthLine }}>
              <line id="line2" x1={{x1}} y1={{y1}} x2={{x2}} y2={{y2}} style={{styleLineFalse}} />
            </svg>
            <div id="state3" class="state" ondrop="drop(event, 3, 'tenir')" ondragover="allowDrop(event)">T</div>
              <svg height={{ heightLine }} width={{ widthLine }}>
              <line id="line3" x1={{x1}} y1={{y1}} x2={{x2}} y2={{y2}} style={{styleLineFalse}} />
            </svg>
            <div id="state4" class="state" ondrop="drop(event, 4, 'sauter')" ondragover="allowDrop(event)">S</div>
          </div>
        </div>
        <div class="row">
          <div id="actContainer" class="panel" ondrop="drop(event)" ondragover="allowDrop(event)">
            <img ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id="avancer" src="icoAct/icon-avancer.png" width="50px">
            <img ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id="baisser" src="icoAct/icon-baisser.png" width="50px">
            <img ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id="coup" src="icoAct/icon-coup.png" width="50px">
            <img ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id="descendre" src="icoAct/icon-descendre.png" width="50px">
            <img ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id="escalader" src="icoAct/icon-escalader.png" width="50px">
            <img ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id="sauter" src="icoAct/icon-sauter.png" width="50px">
            <img ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id="tenir" src="icoAct/icon-tenir.png" width="50px">
          </div>
        </div>
        <p id="demo"></p>
      </div>
    </div>
    <div id="game" class="col-9">
    </div>
  </div>
{% endblock %}
