{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
    <br>
    <h1 class="page_heading">Forum pour les apprenties développeurs</h1>
    
    {% if app.user %}
        <a href="{{ path('forum_create') }}" class="btn btn-primary" name="edit">Créer un poste</a>
    {% endif %}

    {% for forum in forums %}
        <a href="{{ path('forum_show', {'id' : forum.id }) }}" class="black">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 border">
                    <span><b>{{ forum.title }}</b></span>
                    <br>
                    {{ forum.content | raw |truncate(100, true) }}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border">
                    <b>{{ forum.author }}</b> 
                    <br>
                    {{ forum.date }}
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}
