{% extends 'base.html.twig' %}

{% block title %} AlgoSchool - {{ forum.title }} {% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/showBlog.css')}}">
{% endblock %}         

{% block body %}
<meta name="description" content="{{ forum.content}}" />
    <div class="container">
        <br>
        <div class="row border mt5pt blockforum">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 border  blocavatar">
                <p class="nameforum">{{ forum.author}}</p> 
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img class="d-flex mr-3 rounded-circle" src="{{ asset('build/images/avatar.png') }}" style="width: 110px;" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <h2 class="titleforum">{{ forum.title}}</h2>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                        <small>{{ forum.titleCategory}}</small>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p class="dateforum">{{ forum.date}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt5pt">
                        <p>
                            {# id = {{ forum.idCategory}} <br> #}
                            {{ forum.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% if roleUser not in [0, 1, 2] %}
            <form action="#" method="POST" name="formedit">
                <input type="hidden" name="forum_id" value="{{forum.id}}">
                {# <a href="{{ path('blog_edit', {'id' : forum.id }) }}" class="btn btn-primary" name="editForum">Edit</a> #}
                <button type="submt" class="btn btn-danger" name="deleteForum">Delete</button>
            </form>   

        {% else %}
            {% if user == forum.author %}
                <form action="#" method="POST" name="formedit">
                    <input type="hidden" name="forum_id" value="{{forum.id}}">
                    {# <a href="{{ path('blog_edit', {'id' : forum.id }) }}" class="btn btn-primary" name="editForum">Edit</a> #}
                    <button type="submt" class="btn btn-danger" name="deleteForum">Delete</button>
                </form>   
            {% endif %}
        {% endif %}



        <section id="commentaires">
            <h2>{{ comments | length }} Commentaires :</h2>
            {% for comment in comments %}
                <hr>
                <div class="commentBlog">
                    <div class="row">
                        <div class="col-3">
                            {{ comment.user.username }} (<small> {{ comment.date | date('d/m/Y à H:i') }} </small>)
                            {% if comment.user.username == 'AlgoSchool' %}
                                <img class="d-flex mr-3 rounded-circle" src="{{ asset('build/images/algoProf.png') }}" style="width: 100px;" alt="">
                            {% else %}
                                <img class="d-flex mr-3 rounded-circle" src="{{ asset('build/images/avatar.png') }}" style="width: 100px;" alt="">
                            {% endif %}
                            {% if roleUser.role is defined %}
                                    {% if roleUser.role not in [ 0, 1, 2] %}
                                        <form action="#" method="POST" name="formedit">
                                            <input type="hidden" name="com_id" value="{{comment.id}}">
                                            <button type="submt" class="btn btn-success" name="edit">Edit</button>
                                            <button type="submt" class="btn btn-danger" name="delete">Delete</button>
                                        </form>
                                    {% else  %}
                            
                                    {% if user == comment.user.username %}
                                        <form action="#" method="POST" name="formedit">
                                            <input type="hidden" name="com_id" value="{{comment.id}}">
                                            <button type="submt" class="btn btn-success" name="edit">Edit</button>
                                            <button type="submt" class="btn btn-danger" name="delete">Delete</button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col">
                            {{ comment.content | raw }} 
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    
        {% if app.user %}
            <section id="formCommentaire" class="col-md-12">
                <hr>
                <div class="card my-4">
                    <h5 class="card-header">Ajouter un commentaire :</h5>
                        <div class="">
                            {{ form_start(formComment) }}  
                                {{ form_row(formComment.content, {'label': ' ', 'attr': {'placeholder': "Contenu du commentaire"}}) }}
                                <button type="submt" class="btn btn-primary">
                                    Ajouter le commentaire
                                </button>
                            {{ form_end(formComment)}}
                        </div>
                </div>
                <br>
            </section>
        {% else %}
            <div class="col-md-12">
                <div class="card my-4">
                    <h5 class="card-header">Connectez-vous pour poster un commentaire</h5>
                    <div class="card-body">
                            {% include "parts/login.html.twig" %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}