// @import url('https://fonts.googleapis.com/css?family=Knewave');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
// newsletter

body{
    font-family: 'Open Sans', cursive;
}
html { 
    zoom: 0.8; 
}

@font-face {
font-family: 'Riffic';
src: url('./Riffic.ttf')
}

@media(max-width:767px){
    .row {
        padding-left: 15px;
        padding-right: 15px;
    }
}
// Changement pj
div#primary_menu.collapse.navbar-collapse {
float: right;
margin-right: 6em;
}

span.forum {
    padding-left: 2em;
font-size: 20px;
}





h1.page_heading {
    font-size: 30px;
font-weight: bold;
font-size: 30px;
font-weight: bold;
padding-top: 20px;
padding-bottom: 30px;
color:#3ebfd1;
text-transform: uppercase;
}

.blockforum {
background: white;
border-radius: 5px;
padding: 30px;
margin-bottom: 25px;}

.icon_avatar {
width: 35px;}

b.name {vertical-align: sub;}
th.tableblue {
background: #8fd0d6;
border-radius: 5px;
}
h1.page_heading {
    font-size: 30px;
font-weight: bold;
padding-top: 40px;
padding-bottom: 40px;
}

video { 
    position: absolute;
    top: 28%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
  width: 100%
}
.stopfade { 
   opacity: .5;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #13a3a7;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }


img.bg {
    margin-top: -586px;
    width: 100%
}
 
h1.titre {
    text-align: center;
    font-family: 'Riffic', cursive;
    text-transform: uppercase;
    font-size: 70px;
    background-color: #8ed0d533;
    border-radius: 42px;
}

.right{
    text-align: right;
}
@media(max-width:767px){
    .right{
        text-align: right;
    }
}

p.blue {
    font-size: 60px;
    text-align: center;
    color:white;
    font-family: 'Riffic', cursive;
    text-transform: uppercase;
    font-size: 70px;
}
p.soustitre{
    text-align: center;
    font-size: 20px;
    color: #008685;
}

h5.section3{
    text-align: center;
    font-family: 'Riffic', cursive;
    text-transform: uppercase;
    font-size: 70px;
    margin-top: -1em;
}
a.btn-defaut{
        text-align: center;
    margin: auto;
    display: block;
    width: 18em;
    margin-top: 3em;
    background: #fffeaa;
    color: #0c5460;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.section-padding-equipe {
    padding-top: 60px;
    padding-bottom: 60px;
}

// contact
.align_center{
    text-align: center;
}

.contact {
    color: white;
    font-size: 20px;
}


h3.soustitle {
    font-size: 18px;
    color: #17a2b8;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 10px;
}
h3.soustitle-equipe {
    font-size: 18px;
    color: #17a2b8;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
}

.profile{
    text-align: center;
    background: #f1feffe6;
    border-radius: 5px;
    padding-bottom: 13px;
}




img.icon {
    padding: 2em;
    display: block;
    margin: auto;
}

// .img .img1{
//     width:100px;
//     height:100px;
//     background-image: url(http://algo/build/images/icon1.23184e10.gif);
//     background-size:cover;
//   }


.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


div.padding{
    padding-left: 15px;
    padding-right: 15px;
}




div.paddingblanc {
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.button_get {
    width: 30%;
    padding: 5px;

}
    #newsletter_mail{
        max-width: 50%;
    }
    

    // backgroung
    .home-area {
        width: 100%;

        padding-top: 20vh;
        color: #ffffff;
    

    }
    
    .home-area .mobile-image {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: -158px;
    }
.home {   
    .h1, h1 {
        font-size: 4.5rem;
        text-align: center;
        font-family: 'Riffic', cursive;
        margin-bottom: 40px;
            // font-family: 'Knewave', cursive;
    }
    
    
    .btn-secondary {
        color: #0aa1b0;
        background-color: #FFFFA5;
        border-color: #FFFFA5;
        padding: 15px;
            padding-right: 15px;
            padding-left: 15px;
        border-radius: 50px;
        font-size: 20px;
        text-align: center;
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-left: 45px;
        padding-right: 45px;
    }
    
    .btn-secondary:hover {
        color: #fff;
        background-color: #03A0A7;
        border-color: #03A0A7;
    }

    h5 {
        font-size: 2.1rem;
        color: #0aa1ae;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}

.card-header1 {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: white;
    background-color: #cbebee80;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}


.btn-third {
    color: #fff;
    background-color: #0aa1b0;    
    border-color: #0aa1b0;    
    padding: 11px;    
        padding-right: 11px;
        padding-left: 11px;    
    padding-right: 15px;    
    padding-left: 15px;    
    border-radius: 50px;    
    font-size: 20px;    
    text-align: center;    
    display: block;    
    position: relative;
    margin-left: auto;    
    margin-right: auto;    
    padding-left: 30px;    
    padding-right: 30px;
    text-transform: uppercase;
}
.btn-third:hover {
    color: #0aa1b0;
    background-color: #FFFFA5;
    border-color: #FFFFA5;
}
p.p_header {
    font-size: 20px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    margin-bottom: 40px;
}

.footer {
    background: url(http://algo/build/images/footer.69f8b7cc.png) no-repeat;
    height: 300px;
    padding-top: 150px;

}

.mainmenu-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 20px 140px 15px 0;
    background: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #8ed0d533;
}

.mainmenu-area:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #17a2b8 0%, #8fd0d6 100%);    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    z-index: -1;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area.affix {
    position: fixed;
    top: 0;
}

.mainmenu-area.affix:before {
    opacity: 1;
}

.mainmenu-area .right-button {
    position: absolute;
    right: 15px;
    top: 12px;
}

.mainmenu-area .right-button a {
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 14px;
}



@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800');

/*-------------------
2. Theme Default CSS
--------------------*/

* {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: #333333;
    z-index: 500;
}

a.aforum{
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: white;
}

a.aforum:focus, aforum:hover{
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
color: #46bfd1;
}

td {
background: #fff;
}

input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #46bfd1;
}

img {
    max-width: 100%;
    height: auto;
}

@media(max-width:767px){
    .footmobile {
        text-align: center;
    }
}
.footmobile {
    
}
h3.foot{
    font-size: 20px;
    padding-left: 20px;
}
@media(max-width:767px){
    h3.foot{
        font-size: 18px;
        padding-bottom: 15px;
        text-align: center;
    }
}

@media(max-width:767px){
    .button_get {
        padding: 10px;
        width: 48%;
        margin-left: 1%;
    }
}

// TEAM 

.poste {
    font-size: 20px;
    color: #8fd0d6;
    font-weight: bold;
}
.equipe {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.section-team {
    // padding-top: 40px;
    padding-bottom: 80px;
}

.section-padding-faq {
    padding-top: 40px;
    padding-bottom: 165px;
}

h4.faq{
    font-size: 18px;
}


.section-ml {
    padding-top: 40px;
    padding-bottom: 10px;
}



.avatarperso:hover{
    
}

html,
body {
    height: 100%
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    // line-height: 32px;
    color: #343a40;
}

.socialLinks {
    display: inline-block;
    float: right;
    margin-right: 100px;
    margin-top: 0px;
    vertical-align: middle;
    line-height: 8;
    height: 100px;
}

.fb_social{
    display: inline-block;
    padding-right: 10px;
}

.in_social{
    display: inline-block;
    padding-right: 10px;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/*-- 3. Button-Style --*/

.bttn-white {
    position: relative;
    background: rgb(72, 44, 191);
    // background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    // background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, #0c5460 0%, #3ec0d1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    overflow: hidden;
    z-index: 1;
    margin-right: 10px;
    border: none;
}

.bttn-white img {
    height: 20px;
    margin-right: 5px;
    margin-top: -5px;
    display: inline-block;
}



.bttn-white:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFEAA;
    z-index: -1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}

.bttn-white.active,
.bttn-white:hover {
    color: #ffffff;
    background: #40a3a7;
}

.bttn-white.active:before,
.bttn-white:hover:before {
    opacity: 0;
}

.bttn-default,
.bttn-white {
    padding: 12px 30px;
    background-color: #ffffff;
    display: inline-block;
    color: #0c5460;
    text-transform: uppercase;
    border-radius: 50px;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 14px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
}

.bttn-default .lnr,
.bttn-white .lnr {
    margin-right: 10px;
}


.bttn-default {
    margin: auto;
    display: block;
    width: 13em;
    margin-top: 3em;
    padding: 12px 44px;  
    background: #8fd0d6;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    color: #ffffff;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

a.aforum {
color:white;}

.bttn-default:hover {
    color: #ffffff;
    background: #40a3a7;
    -webkit-box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.6);
    box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.sq {
    border-radius: 3px !important;
}

.blocavatar{
    background: #7eccd5;
    border-radius: 11px;

}
p.dateforum {
    text-align: right;
font-size: 17px;
}
h2.titleforum {
    font-size: 30px;
font-weight: bold;
color: #47c0d2;
text-transform: uppercase;
}

p.nameforum {
    font-size: 16px;
    text-align: center;   
    font-weight: bold;   
    color: white;   
    display: block;
    margin-top: 30px;
    
}

.icon:hover{


}

// .parallelogramme{
//     width: 850px;
//     height: 197px;
//     margin-top: -60px;
//     margin-left: 60em;
//     position: absolute;
//     background: #28a74547;
//     -webkit-transform: skew(30deg);
//     -moz-transform: skew(30deg);
//     -o-transform: skew(30deg);
//     tranform: skew(30deg);
// }


figure.mobile-image {
    margin: 0 0 1rem;
    width: 700px;}
    @media(max-width:767px){
        figure.mobile-image {
            margin: 0 0 1rem;
            width: 100%;
}
    }

    .feature-area-discover {
        color: #ffffff;
        background-color: #87cfd6;
        background-position: bottom -120px center;
        background-repeat: no-repeat;
        background-size: auto 94%;
        margin-bottom: 0px;
        padding-bottom: 90px;
    }


[placeholder] {
    font-style: italic;
    opacity: .6;
  }

img.montgolfiere {
    position: relative;
    width: 20%;
    float: right;
}

img.montgolfiere1 {
    position: absolute;
    width: 7%;
    float: right;
    left: 1460px;
}



img.montgolfierehome {
    position: absolute;
    width: 12%;
    margin-top: -50em;
    margin-left: 81%;
}
/*-- 4. Helper-Classes --*/

.section-padding-top {
    padding-top: 120px;
}

.section-mentions {
    border-radius: 10px;
    background: #E5F5F6;
    padding-left: 15px;
    padding-right: 15px;
}


.section-padding-contact {
    padding-top: 40px;
    padding-bottom: 80px;
}

div.bg_light_blue{
    background:#89d5e033;


}

.section5 {
    background-image: url(../images/section5.png);
    background-repeat: repeat;
    background-position: center;
    width: 100%;
    padding-top: 270px;
    padding-bottom: 270px;
}
.section-newsletter{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #BEF07C;
}
@media(max-width:767px){
    .section-newsletter{
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #BEF07C;
    }
}


.section-1{
padding-bottom: 120px;
background-color: white;
}
@media(max-width:767px){
    .section-1 {
        padding-bottom: 40px;
        background-color: white;
        padding-top: 70px;
    }
    }
    
.section-padding-bottom {
    // padding-top: 50px;
    padding-bottom: 120px;
}
@media(max-width:767px){
    .section-padding-bottom {
        margin-top: -5em;
        padding-bottom: 60px;
    }
}

.section-padding-bottom-min {

    padding-bottom: 70px;
}
.section-padding-blue {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #52BABD;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}
@media(max-width:767px){
    .section-padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.section-padding-com {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media(max-width:767px){
    .section-padding-com {
        padding-top: 50px;
        padding-bottom: 95px;
    }
}


.footer{
    background-image: url(../images/footer.png);
    background-position: center;
    width: 100%;
    height: 220px;
    margin-top: -70px;
    background-repeat: inherit;
    padding-top: 92px;
    z-index: 2;
    position: absolute;
}
.upper {
    text-transform: uppercase;
}

.angle,
.overlay {
    position: relative;
    z-index: 1;
    background: white;
}

.icon_forum {
    width: 5%;
border-radius: 15px;
}

span.forum {
    padding-left: 2em;
font-size: 20px;
}

.angle:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left bottom, #ffffff 50%, transparent 50%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left bottom, right top, color-stop(50%, #ffffff), color-stop(50%, transparent)) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -o-linear-gradient(left bottom, #ffffff 50%, transparent 50%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right top, #ffffff 50%, transparent 50%) repeat scroll 0 0;
    z-index: -1;
}

p.center {
    text-align: center;
}
.dark-color {
    color: #17a2b8;
    text-align: center;
    font-size: 22px;
}

.blue-color {
    color: #5e88fc;
}

.white-color {
    color: #ffffff !important;
}

.gray-bg {
    background-color: #f5f6ff;
}

/*-- 5. MainMenu-Area --*/

.mainmenu-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 20px 140px 15px 0;
    background: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #17a2b8 0%, #8fd0d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    z-index: -1;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area.affix {
    position: fixed;
    top: 0;
}

.mainmenu-area.affix:before {
    opacity: 1;
}

.mainmenu-area .right-button {
    position: absolute;
    right: 15px;
    top: 12px;
}

.mainmenu-area .right-button a {
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 8px;
}

.btn-secondary {

    background-color: #868e96;
    border-color: #868e96;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 15px;
}
.mainmenu-area .right-button a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #768ede;
}

.mainmenu-area ul.mainmenu {
    text-align: center;
    float: none;
    display: block;
}

.mainmenu-area ul.mainmenu li {
    float: none;
    display: inline-block;
    text-align: center;
}

.mainmenu-area ul.nav.navbar-nav li a {
    color: #ffffff;
    padding: 10px 2px;
    text-transform: capitalize;
    background: transparent;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    margin: 0 15px;
    text-transform: uppercase;
}

.mainmenu-area ul.nav.navbar-nav li a:hover,
.mainmenu-area ul.nav.navbar-nav li.active a {
    border-bottom-color: #ffffff;
}

.mainmenu-area .navbar-brand {
    height: auto;
    padding: 0 15px;
}

.mainmenu-area .navbar-brand img {
    height: 40px;
}

/*-- 6. Page-Title --*/

.page-title .title {
    position: relative;
display: initial;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Riffic', cursive;
    color: #42DAC5;
    font-size: 40px;
    line-height: 38px;
}
.titleblue {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Riffic', cursive;
    color: #13A3A7;
    font-size: 38px;
    line-height: 38px;
    padding-bottom: 15px;
}
@media(max-width:767px){
    .titleblue {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-family: 'Riffic', cursive;
        color: #13A3A7;
        font-size:22px;
        text-align: center;
        line-height: 38px;
        padding-bottom: 40px;}}

@media(max-width:767px){
            .titleblue2 {
                position: relative;
                display: inline-block;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-family: 'Riffic', cursive;
                color: #13A3A7;
                font-size:22px;
                text-align: center;
                line-height: 38px;
                padding-bottom: 5px;}}

.text-center.page-title .title:before,
.page-title .title:after {
    content: '';
    width: 50px;
    height: 1px;
    display: inline-block;
    background-color: #e1e1e1;
    margin: 0 15px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}


/*-- 8. Progress-Area --*/

.progress-area {
    background-image: url(http://algo/build/images/progress-bg.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    margin-top: 90px;
    margin-bottom: 220px;
}

.progress-area .mobile-image {
    margin-top: -90px;
    margin-bottom: -153px;
}

/*-- 9. Video-Area --*/

.video-area {
     background-image: url('images/bg_section2.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    background-size: cover;
}
@media(max-width:767px){
    .video-area {
        padding-top: 1em;
        padding-bottom: 2em;
    
}
}

.video-photo {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.video-photo > img {
    width: 100%;
}

.video-area a.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.gif_anime:hover {
    
}
/*-- 10. Feature-Area --*/

.feature-area {
    color: #ffffff;
    background-color: #9bdbe3;
    // background-image: url('images/feature-bg.png');
    background-position: bottom -120px center;
    background-repeat: no-repeat;
    background-size: auto 94%;
    margin-bottom: 142px;
}

.feature-area .page-title .title {
    color: #ffffff;
}

.feature-area .mobile-image {
    margin-bottom: -142px;
}

/*-- 11. Service-Box --*/

.service-box {
    position: relative;
    padding-left: 100px;
}

.team-slide .owl-controls .owl-nav > div,
.service-box .box-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 72px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    background: rgb(72, 44, 191);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    overflow: hidden;
    z-index: 1;
    color: #5e88fc;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.team-slide .owl-controls .owl-nav > div:hover,
.service-box:hover .box-icon {
    color: #ffffff;
}

.team-slide .owl-controls .owl-nav > div:before,
.service-box .box-icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}

.team-slide .owl-controls .owl-nav > div:hover:before,
.service-box:hover .box-icon:before {
    opacity: 0;
}

.service-box h4 {
    margin-bottom: 10px;
}

/*-- 14. Download-Area --*/

.download-area {
    // background-image: url('images/download-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 70px;
    margin-bottom: 100px;
    color: #ffffff;
}

.download-area .mobile-image {
    margin-top: -106px;
    margin-bottom: -200px;
}

/*-- 16. Questions-area --*/

.questions-area {
    background-color: #f5f6ff;
}

.toggole-boxs {
    margin-top: -20px;
}

div.bg_blue{
    background: #8FD0D6;
}

h5.title {
    position: relative;
display: block;
text-transform: uppercase;
letter-spacing: 1.5px;
font-family: 'Riffic', cursive;
font-size: 38px;
line-height: 38px;
color: #8fd0d6;
}
@media(max-width:767px){
    h5.title {
    position: relative;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Riffic', cursive;
    font-size: 22px;
    line-height: 38px;
    color: #8fd0d6;
    text-align: center;
    margin: -20px;
    padding-top: 20px;
    }
}


.toggole-boxs h3 {
    font-size: 18px;
    background-color: #ffffff;
    margin-bottom: 0;
    margin-top: 20px;
    outline: none;
    padding: 20px 30px 20px 60px;
    color: #434345;
    border-left: 5px solid #5e88fc;
    cursor: pointer;
    position: relative;
}

.toggole-boxs h3:before,
.toggole-boxs h3:after {
    content: '';
    position: absolute;
    left: 30px;
    top: 30px;
    width: 10px;
    height: 2px;
    background-color: #434345;
}

.toggole-boxs h3:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.toggole-boxs h3.ui-state-active:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
}

.toggole-boxs div {
    background-color: #ffffff;
    padding: 0 30px 20px 60px;
    border-left: 5px solid #5e88fc;
}

/*-- 18. Footer-Area --*/

.footer-box {
    text-align: center;

}

/*-- 19. ScrollUp-Button --*/

#scrollUp {
    right: 0;
    bottom: 0;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: #5e88fc;
}

.preloader {
    background-color: #ffffff;
    bottom: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
}

.preloader span {
    background: rgb(72, 44, 191);
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    border-radius: 100%;
    height: 60px;
    width: 60px;
    line-height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin: auto;
    -webkit-animation: mymove 1.5s infinite linear;
    animation: mymove 1.5s infinite linear;
}




/*-- 23. Form-Stype --*/

.form-control {
    border-radius: 2px;
    padding: 15px 20px;
    height: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-double .box {
    width: calc(50% - 15px);
    float: left;
}

.form-double .box.last {
    float: right;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

}

//responsive
@media(max-width:767px){
    header#home_page.home-area.overlay {
        background: linear-gradient(1deg, #e0f2f4 0%, #8ccfd7 100%);
        // background: #89cfd6;
        padding-bottom: 50px;
    }
    
}


// Page 404 // Error
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #notfound {
    position: relative;
    height: 80vh;
  background-color: #87CFD6;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
  }
  
  .notfound .notfound-bg {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 71%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: -1;
  }
  
  .notfound .notfound-bg > div {
    width: 100%;
    background: #fff;
    border-radius: 90px;
    height: 125px;
  }
  
  .notfound .notfound-bg > div:nth-child(1) {
    -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
            box-shadow: 5px 5px 0px 0px #f3f3f3;
  }
  
  .notfound .notfound-bg > div:nth-child(2) {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
            box-shadow: 5px 5px 0px 0px #f3f3f3;
    position: relative;
    z-index: 10;
  }
  
  .notfound .notfound-bg > div:nth-child(3) {
    -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
            box-shadow: 5px 5px 0px 0px #f3f3f3;
    position: relative;
    z-index: 90;
  }
  

// team
.avatarneka:hover {
    background: url(http://algo/build/images/neka-hover.0006cc6e.png) no-repeat;
    // background-image: url(http://algo/build/images/neka-hover.0006cc6e.png);
    // background-repeat: no-repeat;

}

.feature-area-team2{
    color: #ffffff;
    background-color: #87cfd6;
    background-position: bottom -120px center;
    background-repeat: no-repeat;
    background-size: auto 94%;
    margin-bottom: 0px;
    padding-bottom: 90px;
}


  img.error {
    width: 50%;
    margin: auto;
    z-index: 100;
    position: absolute;
    top: -250px;
    left: 143px;
  }
  .notfound h1 {
    font-size: 86px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
    color: #151515;
  }
  
  .notfound h2 {
    font-size: 26px;
    margin: 0;
    font-weight: 700;
    color: #151515;
  }
  
  .notfound a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #40A3A7;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
  }
  
  
  .notfound-social {
    margin-top: 5px;
  }

  .section-padding-perso {
    padding-top: 55px;
    padding-bottom: 140px;
  }

  div.padding-left {
    text-align: right;
  }
  
  .notfound-social > a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 14px;
    color: #f8f9fa;
    background-color: #87cfd6;
    margin: 3px;
    border-radius: 32px;
    padding: 0px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
  .notfound-social>a:hover {
    background-color: #17a2b8;
  }
  
  @media only screen and (max-width: 767px) {
      .notfound .notfound-bg {
        width: 287px;
        margin: auto;
      }
  
      .notfound .notfound-bg > div {
        height: 85px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound h1 {
      font-size: 68px;
    }
  
    .notfound h2 {
      font-size: 18px;
    }
  }

@media only screen and (max-width: 767px) {
    .montgolfiereMobile{
        width: 150px;
        margin-left: 33%;
    }
    .pdtop{
        padding-top: 47px;
    }
    .pdbot{
        padding-bottom: 50px;
    }
}
@media only screen and (min-width: 768px) {
    .montgolfiereMobile{
        display: none;
    }
}
.blueTitle {
    color: #0c5460;
}
.voileTitle{
        background-color: #8ed0d533; 
        border-radius: 42px;
}
//   MENU REPONSIVE

