<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Administration AlgoSchool</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/gif" href="{{ asset('build/images/logo-algoschool.png') }}" />
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="application/vnd.ms-fontobject" href="{{ asset('build/fonts/fontawesome-webfont.eot?v=4.7.0')}}">
        <link rel="stylesheet" type="image/svg+xml" href="{{ asset('build/images/fontawesome-webfont.svg?v=4.7.0')}}">  
        <link rel="stylesheet" type="font/ttf" href="{{ asset('build/fonts/fontawesome-webfont.ttf?v=4.7.0')}}">  
        <link rel="stylesheet" type="font/woff2" href="{{ asset('build/fonts/fontawesome-webfont.woff2?v=4.7.0')}}">  
        <link rel="stylesheet" type="font/woff" href="{{ asset('build/fonts/fontawesome-webfont.woff?v=4.7.0')}}">  
        <link rel="stylesheet" type="application/vnd.ms-fontobject" href="{{ asset('build/fonts/themify.eot?-fvbane')}}">  
        <link rel="stylesheet" type="image/svg+xml" href="{{ asset('build/images/themify.svg?-fvbane')}}">  
        <link rel="stylesheet" type="font/ttf" href="{{ asset('build/fonts/themify.ttf?-fvbane')}}">  
        <link rel="stylesheet" type="font/woff" href="{{ asset('build/fonts/themify.woff?-fvbane')}}">  
        <link rel="stylesheet" type="application/vnd.ms-fontobject" href="{{ asset('build/fonts/icomoon.eot?-rdnm34')}}">  
        <link rel="stylesheet" type="image/svg+xml" href="{{ asset('build/images/icomoon.svg?-rdnm34')}}">  
        <link rel="stylesheet" type="font/ttf" href="{{ asset('build/fonts/icomoon.ttf?-rdnm34')}}">  
        <link rel="stylesheet" type="font/woff" href="{{ asset('build/fonts/icomoon.woff?-rdnm34')}}">  
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>  

        <link rel="stylesheet" href="{{ asset('build/normalize.css')}}">  
        <link rel="stylesheet" href="{{ asset('build/bootstrap.css')}}">  
        <link rel="stylesheet" href="{{ asset('build/awesome.css')}}">  
        <link rel="stylesheet" href="{{ asset('build/themify.css')}}">  
        {# <link rel="stylesheet" href="{{ asset('build/flag.css')}}">   #}
        <link rel="stylesheet" href="{{ asset('build/elastic.css')}}">  
        <link rel="stylesheet" href="{{ asset('build/style.css')}}">  
        <link rel="stylesheet" href="{{ asset('build/jqvmap.css')}}">  


        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {# {% block block_header %}
            {% include "parts/header.html.twig" %}
        {% endblock %} #}
        {% if app.user %}
            <div class="fullwidth">
                {% block fullwidth %}
                
                {% endblock %}
            </div> 
            
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        
            {# <script src="{{ asset('build/jquery.js') }}"></script> #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
            <script src="{{ asset('build/plugins.js') }}"></script>    
            <script src="{{ asset('build/mainJS.js') }}"></script>

            <script src="{{ asset('build/chart.js') }}"></script>    
            <script src="{{ asset('build/dashboard.js') }}"></script>    
            <script src="{{ asset('build/widgets.js') }}"></script>    
            <script src="{{ asset('build/vmap.js') }}"></script>    
            <script src="{{ asset('build/vmapMin.js') }}"></script>    
            <script src="{{ asset('build/vmapData.js') }}"></script>    
            <script src="{{ asset('build/vmapWorld.js') }}"></script> 

            
            {% block javascripts %}
            {% endblock %}

        {% else %}
            <hr>
            <h3>Connectez-vous pour acceder à l'espace Administrateur</h3>
            {% include "parts/login.html.twig" %}
        {% endif %}


    </body>
    {# <footer>
        {% block block_footer %}
            {% include "parts/footer.html.twig" %}
        {% endblock %}
    </footer> #}
</html>
