<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/gif" href="tonlien" />

        <link rel="stylesheet" href="{{ asset('build/bootstrap.css')}}">  
        <link rel="stylesheet" href="{{ asset('build/schemaAlgo.css')}}">  

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.16.2/phaser.min.js"></script>
        <script src="dnd.js"></script>

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block block_header %}
        {% endblock %}

        {% block sidebar %}
        {% endblock %}

        <div class="fullwidth">
            {% block fullwidth %}
            {% endblock %}
        </div> 
        
        <div class="container">
            {% block body %}{% endblock %}
        </div>

    </body>
    <footer>
        {% block block_footer %}
        {% endblock %}
        
        {% block javascripts %}
        {% endblock %}
    </footer>
</html>
