{% extends 'admin.html.twig' %}

{% block title %}Administration de AlgoSchool{% endblock %}

{% block fullwidth %}

    <link rel="stylesheet" href="{{ asset('build/createLvl.css')}}">  
    <script src="{{ asset('build/createLvlJS.js') }}"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> 

    <!-- Left Panel -->
    {% include "admin/parts/menuAdmin.html.twig" %}  


    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        {% include "admin/parts/header.html.twig" %}  

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Administration des articles</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Articles</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
        </div>


    </div><!-- /#right-panel -->
{% endblock %}
