{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/homepage.css')}}">
{% endblock %}

<section class="footer" style="left: 0px;">
<div style="background: #fffbe7;" class="row">
    <div class="col-xs-12 col-md-4 footmobile">
        <div class="page-title">
            <h3 class="foot" data-wow-delay="0.4s">Application disponible sur :</h3>
            <img class="button_get" src="{{ asset('build/images/android.png') }}" alt="">
            <img class="button_get" src="{{ asset('build/images/ios.png') }}" alt="">

        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="page-title">
            <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                <p class="center">© Algoschool 2018 - Tous droits Réservés - <a href="{{ path('mention') }}"> Mentions légales</a> 
                <br> - <a href="{{ path('faq') }}">Foire aux questions</a>
                {# <br> - <a href="{{ path('discover') }}">Découvrir le principe d'AlgoSchool</a> #}
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 d-none d-sm-block">
        <div class="socialLinks">
            <div class="fb_social">
                <a href="https://www.facebook.com/AlgoSchoolOfficial/"><img src="{{ asset('build/images/fb.png') }}"></a>
            </div>
        <div class="in_social">
            <a href="https://www.instagram.com/algoschool"><img src="{{ asset('build/images/in.png') }}"></a>
        </div>

    </div>
</div>

{# </div> #}
</section>