{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/header.css')}}">
{% endblock %}

<header id="header-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand logoMenu" href="{{ path('home') }}">
            <img src="{{ asset('build/images/logo.png')}}" class="logo d-inline-block align-top" alt="">
        </a>

        <button style="z-index: 999;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% include "parts/menu.html.twig" %}
        </div>
    </nav>
</header>