<nav class="mainmenu-area"  >
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="primary_menu">
            <ul class="nav navbar-nav mainmenu mr-auto">
                {# <li class="nav-item" ><a class="nav-link" href="{{ path('home') }}">Accueil</a></li> #}
                <li class="nav-item"><a class="nav-link" href="{{ path('game') }}">Jouer</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('price') }}">Prix</a></li>
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    C'est quoi ?
                    </a>
                    <div class="dropdown-menu backGroundAlgo" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item blackColor" href="{{ path('discover') }}#ideaAlgo">L'idée AlgoSchool</a>
                        <a class="dropdown-item blackColor" href="{{ path('discover') }}#logiqueAlgo">La mécanique du jeu</a>
                        <a class="dropdown-item blackColor" href="{{ path('discover') }}#enseignant">Conçu pour les enseignants</a>
                        <a class="dropdown-item blackColor" href="{{ path('discover') }}#personnage">Personnage personnalisable</a>
                        <a class="dropdown-item blackColor" href="{{ path('discover') }}#team">Notre équipe</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Communauté
                    </a>
                    <div class="dropdown-menu backGroundAlgo" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item blackColor" href="{{ path('blog') }}">Actualités</a>
                        <a class="dropdown-item blackColor" href="{{ path('forum') }}">Forum d'entraide</a>
                        <a class="dropdown-item blackColor" href="{{ path('faq') }}">Foire aux questions</a>
                    </div>
                </li>
                {# <li class="nav-item"><a class="nav-link" href="{{ path('blog') }}">Actualités</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('forum') }}">Forum</a></li>     #}


                {% if app.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Administration</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
            </ul>
            {% if not app.user %}
            <div class="right-button hidden-xs">
                <a href="{{ path('security_login') }}">Se connecter</a>
            </div>
            {% else %}
            <div class="right-button hidden-xs">
                <a href="{{ path('security_logout') }}">Deconnexion</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav> 

<div class="mobileMenu">
    <ul class=" navbar-nav mr-auto">
        {# <li class="nav-item" ><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('maquette') }}">Jouer</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('discover') }}">C'est quoi ?</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('blog') }}">Actualités</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('forum') }}">Forum</a></li>         #}

            <li class="nav-item"><a class="nav-link" href="{{ path('maquette') }}">Jouer</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('price') }}">Prix</a></li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    C'est quoi ?
                    </a>
                    <div class="dropdown-menu backGroundAlgo" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item blackColor" href="{{ path('discover') }}#ideaAlgo">L'idée AlgoSchool</a>
                        <a class="dropdown-item blackColor" href="{{ path('discover') }}#logiqueAlgo">La mécanique du jeu</a>
                        <a class="dropdown-item blackColor" href="{{ path('discover') }}#enseignant">Conçu pour les enseignants</a>
                        <a class="dropdown-item blackColor" href="{{ path('discover') }}#personnage">Personnage personnalisable</a>
                        <a class="dropdown-item blackColor" href="{{ path('discover') }}#team">Notre équipe</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Communauté
                    </a>
                    <div class="dropdown-menu backGroundAlgo" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item blackColor" href="{{ path('blog') }}">Actualités</a>
                        <a class="dropdown-item blackColor" href="{{ path('forum') }}">Forum d'entraide</a>
                        <a class="dropdown-item blackColor" href="{{ path('faq') }}">Foire aux questions</a>
                    </div>
                </li>
        {% if app.user %}
            <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Administration</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
    </ul>
    {% if not app.user %}
        <div class="right-button hidden-xs">
            <a href="{{ path('security_login') }}">Se connecter</a>
        </div>
    {% else %}
        <div class="right-button hidden-xs">
            <a href="{{ path('security_logout') }}">Deconnexion</a>
        </div>
    {% endif %}
</div>