{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    {% for forum in forums %}
        <li> {{ forum.title }} </li>
        <li> {{ forum.date }} </li>
        <li> {{ forum.content }} </li>
    {% endfor %}
{% endblock %}
