{% extends 'base.html.twig' %}

{# {% form_theme formArticle 'bootstrap_4_layout.html.twig' %} #}

{% block body %}
    {% if app.user %}
        <h1>Création d'un nouveau forum</h1>
                
    {# <form action="{{ path('forum') }}" method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">Titre du poste</label>
            <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="Titre de votre poste">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Selectionnez la catégorie dans laquel vous souhaitez postez</label>
            <select class="form-control" id="exampleFormControlSelect1" name="category">
                <option value=1>APPRENTIE DÉVELOPPEUR</option>
                <option value=1>SOLUTION DU JEU</option>
                <option value=1>LES ENSEIGNANTS</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Contenu de votre poste</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="3"></textarea>
        </div>

        <button type="submt" class="btn btn-success">Ajouter le poste</button>
    </form> #}
    {{ form_start(formCreate) }}  
        {{ form_widget(formCreate)}}

        <div class="form-group">
            <label for="exampleFormControlSelect1">Selectionnez la catégorie dans laquel vous souhaitez postez</label>
            <select class="form-control" id="exampleFormControlSelect1" name="category">
                <option value=1>APPRENTIE DÉVELOPPEUR</option>
                <option value=1>SOLUTION DU JEU</option>
                <option value=1>LES ENSEIGNANTS</option>
            </select>
        </div>
        <button type="submt" class="btn btn-success">Ajouter le poste</button>
    {{ form_end(formCreate)}}    

    {% else %}
        <h1>Vous n'êtes pas connecté</h1>
        {% include "parts/login.html.twig" %}
    {% endif  %}
{% endblock %}