{% extends 'base.html.twig' %}

{% block title %} AlgoSchool - Forum pédagogique d'entraide pour apprendre l'algorithmique de façon amusante{% endblock %}

{% block body %}

<meta name="description" content="Le jeu vidéo AlgoSchool possède un forum pour echanger sur les différentes méthodes d'apprentissage,
 les solutions du jeu et les développements spécifiques. Tous en avant vers l'apprentissage de l'algorithmie" />

<section class="section-padding-bottom">

<div class="container">
<h1 class="page_heading">Bienvenue sur le Forum Algoschool</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="tableblue" colspan="3">
                        <a class="nav-link aforum" href="{{ path('forum_one') }}">
                            <img class="icon_forum" src="{{ asset('build/images/icon_debutant.png') }}"><span class="forum">FORUM POUR APPRENTI DÉVELOPPEUR</span>
                        </a>
                    </th>                
                </tr>
            </thead>
            <tbody>
                {% for i in 0..2 %}
                    {% if categoryOne[i] is defined %}
                        <tr>
                            <td>
                                <a href="{{ path('forum_show', {'id' : categoryOne[i].id }) }}" class="black">
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <span><b>{{ categoryOne[i].title | raw | truncate(75)}}</b></span>
                                            <br>
                                            {{ categoryOne[i].content | raw | truncate(100, true) }}
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <img class="icon_avatar" src="{{ asset('build/images/avatar.png') }}"> <b class="name">{{ categoryOne[i].author }}</b> 
                                            <br>
                                            {{ categoryOne[i].date }}
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="tableblue"  colspan="3">
                        <a class="nav-link aforum" href="{{ path('forum_two') }}">
                            <img class="icon_forum" src="{{ asset('build/images/icon_prof.png') }}"><span class="forum">FORUM POUR SOLUTION DU JEU</span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for i in 0..2 %}
                    {% if categoryTwo[i] is defined %}
                        <tr>
                            <td>
                                <a href="{{ path('forum_show', {'id' : categoryTwo[i].id }) }}" class="black">
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <span><b>{{ categoryTwo[i].title }}</b></span>
                                            <br>
                                            {{ categoryTwo[i].content | raw |truncate(100, true) }}
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <img class="icon_avatar" src="{{ asset('build/images/avatar.png') }}"> <b class="name">{{ categoryTwo[i].author }}</b> 
                                            <br>
                                            {{ categoryTwo[i].date }}
                                        </div>
                                    </div>
                                </a>    
                            </td>
                        </tr> 
                    {% endif %}              
                {% endfor %}
            </tbody>
        </table>
<br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="tableblue" colspan="3">
                        <a class="nav-link aforum" href="{{ path('forum_three') }}">
                            <img class="icon_forum" src="{{ asset('build/images/icon_jeu.png') }}"><span class="forum">FORUM POUR LES ENSEIGNANTS</span>
                        </a>
                    </th>                
                </tr>
            </thead>
                <tbody>
                {% for i in 0..2 %}
                    {% if categoryThree[i] is defined %}
                        <tr>
                            <td>
                                <a href="{{ path('forum_show', {'id' : categoryThree[i].id }) }}" class="black">
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <span><b>{{ categoryThree[i].title }}</b></span>
                                            <br>
                                            {{ categoryThree[i].content | raw |truncate(100, true) }}
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <img class="icon_avatar" src="{{ asset('build/images/avatar.png') }}"> <b class="name">{{ categoryThree[i].author }}</b> 
                                            <br>
                                            {{ categoryThree[i].date }}
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>   
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>   
        </div>
        </section>
        </div>         
{% endblock %}